<div id="main_container">
  <div id="box_container">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <h1 class="text-center">Welcome to MyBookfolio</h1>
          <p class="text-center mt-5">You are currently waiting for approvel from one of your instructors, please notify any other instructor in your battalion to aprove you under <b>Battalion Users.</b></p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="input-group mb-2 mt-2 ml-auto mr-auto">
            <input type="text" class="form-control text-center" placeholder="Battalion Code" [value]="battalionCode">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="container-fluid text-center">
            <button id="logout" class="btn btn-danger" (click)="signout()">Logout</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
