<div class="container-fluid p-2">
    <div class="row">
        <div class="col ml-3">
            <h3>{{ searchCadet?.firstName }} {{ searchCadet?.lastName }}</h3>
        </div>
        <div col="col">
            <div class="d-block float-lg-right mr-4">
                <button class="btn btn-sm btn-outline-primary ml-1 active" (click)="setLetLevel(1)"
                    [ngClass]="{active: filterLetLevel === 1}">Let 1</button>
                <button class="btn btn-sm btn-outline-primary btn-active ml-1" (click)="setLetLevel(2)"
                    [ngClass]="{active: filterLetLevel  === 2}">Let 2</button>
                <button class="btn btn-sm btn-outline-primary ml-1" (click)="setLetLevel(3)"
                    [ngClass]="{active: filterLetLevel  === 3}">Let 3</button>
                <button class="btn btn-sm btn-outline-primary ml-1" (click)="setLetLevel(4)"
                    [ngClass]="{active: filterLetLevel  === 4}">Let 4</button>
            </div>
        </div>
    </div>

    <div class="container-fluid p-3">
        <div class="row pl-3 pr-3">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active">Cadet Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="toCadetInformation()">Cadet Information</a>
                </li>
            </ul>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <!-- card starts -->
                <div class="card mb-3">
                    <!-- four year goals -->
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item rounded-0">Four Year Goals

                            <div class="progress ">
                                <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{width: progress.yearlyGoals + '%'}"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">{{ progress.yearlyGoals + '%' }}</div>
                            </div>
                            <div class="row mx-auto mt-2 ">
                                <div class="col mt-1">
                                    <button [disabled]="!progress.yearlyGoals" [routerLink]="['/instructor/portfolio/four-year-goals']" [queryParams]="queryParams" class="btn btn-primary float-right">View</button>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <!-- winning colors -->
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item rounded-0">Winning Colors

                            <div class="progress ">
                                <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{width: progress.winningColors + '%'}"
                                    aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{ progress.winningColors + '%' }}</div>
                            </div>
                            <div class="row mx-auto mt-2 ">
                                <div class="col mt-1">
                                    <button [disabled]="!progress.winningColors" [routerLink]="['/instructor/portfolio/winning-colors']" [queryParams]="queryParams" class="btn btn-primary float-right">View</button>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <!-- success profiler -->
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item rounded-0">Success Profiler & Personal Growth Plan

                            <div class="progress ">
                                <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{width: progress.successProfiler + '%'}"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">{{ progress.successProfiler + '%' }}</div>
                            </div>
                            <div class="row mx-auto mt-2 ">
                                <div class="col mt-1">
                                    <button [disabled]="!progress.successProfiler" [routerLink]="['/instructor/portfolio/course-work/successProfiler']" [queryParams]="queryParams" class="btn btn-primary float-right">View</button>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <!-- learning style inventory -->
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item rounded-0">Learning Styles Inventory

                            <div class="progress ">
                                <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{width: progress.learningStyle + '%'}"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">{{ progress.learningStyle + '%' }}</div>
                            </div>
                            <div class="row mx-auto mt-2 ">
                                <div class="col mt-1">
                                    <button [disabled]="!progress.learningStyle" [routerLink]="['/instructor/portfolio/learning-style']" [queryParams]="queryParams" class="btn btn-primary float-right">View</button>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <!-- personal ad -->
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item rounded-0">Personal Ad

                            <div class="progress ">
                                <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{width: progress.personalAd + '%'}"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">{{ progress.personalAd + '%' }}</div>
                            </div>
                            <div class="row mx-auto mt-2 ">
                                <div class="col mt-1">
                                    <button [disabled]="!progress.personalAd" [routerLink]="['/instructor/portfolio/personal-ad']" [queryParams]="queryParams" class="btn btn-primary float-right">View</button>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <!-- human graph activity -->
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item rounded-0">Human Graph Activity

                            <div class="progress ">
                                <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{width: progress.humanGraphActivity + '%'}"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">{{ progress.humanGraphActivity + '%' }}</div>
                            </div>
                            <div class="row mx-auto mt-2 ">
                                <div class="col mt-1">
                                    <button [disabled]="!progress.humanGraphActivity" [routerLink]="['/instructor/portfolio/human-graph']" [queryParams]="queryParams" class="btn btn-primary float-right">View</button>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <!-- resume -->
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item rounded-0">Resume

                            <div class="progress ">
                                <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{width: progress.resume + '%'}"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">{{ progress.resume + '%' }}</div>
                            </div>
                            <div class="row mx-auto mt-2 ">
                                <div class="col mt-1">
                                    <button [disabled]="!progress.resume" [routerLink]="['/instructor/portfolio/course-work/resume']" [queryParams]="queryParams" class="btn btn-primary float-right">View</button>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <!-- financial planning -->
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item rounded-0">Financial Planning

                            <div class="progress ">
                                <div class="progress-bar bg-success " role="progressbar" [ngStyle]="{width: progress.financialPlanning + '%'}"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">{{ progress.financialPlanning + '%' }}</div>
                            </div>
                            <div class="row mx-auto mt-2 ">
                                <div class="col mt-1">
                                    <button [disabled]="!progress.financialPlanning" [routerLink]="['/instructor/portfolio/']" [queryParams]="queryParams" class="btn btn-primary float-right">View</button>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <!-- course work -->
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item rounded-0">Course Work

                            <div class="progress ">
                                <div class="progress-bar bg-success " role="progressbar" [ngStyle]="{width: progress.courseWork + '%'}"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">{{ progress.courseWork + '%' }}</div>
                            </div>
                            <div class="row mx-auto mt-2 ">
                                <div class="col mt-1">
                                    <button [disabled]="!progress.courseWork" [routerLink]="['/instructor/portfolio/course-work/courseWork']" [queryParams]="queryParams" class="btn btn-primary float-right">View</button>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <!-- essay -->
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item rounded-0">Jrotc Essay / Course

                            <div class="progress ">
                                <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{width: progress.essay + '%'}"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">{{ progress.essay + '%' }}</div>
                            </div>
                            <div class="row mx-auto mt-2 ">
                                <div class="col mt-1">
                                    <button [disabled]="!progress.essay" [routerLink]="['/instructor/portfolio/course-work/essay']" [queryParams]="queryParams" class="btn btn-primary float-right">View</button>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <!-- lesson evidence -->
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item rounded-0">Let 1-4 Lesson Evidence

                            <div class="progress ">
                                <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{width: progress.lessonEvidence + '%'}"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">{{ progress.lessonEvidence + '%' }}</div>
                            </div>
                            <div class="row mx-auto mt-2 ">
                                <div class="col mt-1">
                                    <button [disabled]="!progress.lessonEvidence" [routerLink]="['/instructor/portfolio/course-work/lessonEvidence']" [queryParams]="queryParams" class="btn btn-primary float-right">View</button>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <!-- written summary -->
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item rounded-0">Written Summary

                            <div class="progress ">
                                <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{width: progress.writtenSummary + '%'}"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">{{ progress.writtenSummary + '%' }}</div>
                            </div>
                            <div class="row mx-auto mt-2 ">
                                <div class="col mt-1">
                                    <button [disabled]="!progress.writtenSummary" [routerLink]="['/instructor/portfolio/course-work/writtenSummary']" [queryParams]="queryParams" class="btn btn-primary float-right">View</button>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <!-- awards -->
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item rounded-0">Awards
                            <div class="progress ">
                                <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{width: progress.achievements + '%'}"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">{{ progress.achievements + '%' }}</div>
                            </div>
                            <div class="row mx-auto mt-2 ">
                                <div class="col mt-1">
                                    <button [disabled]="!progress.achievements" [routerLink]="['/instructor/portfolio/course-work/awards']" [queryParams]="queryParams" class="btn btn-primary float-right">View</button>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <!-- cadet challenge -->
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item rounded-0">Cadet Challenge

                            <div class="progress ">
                                <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{width: progress.cadetChallenge + '%'}"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">{{ progress.cadetChallenge + '%' }}</div>
                            </div>
                            <div class="row mx-auto mt-2 ">
                                <div class="col mt-1">
                                    <button [disabled]="!progress.cadetChallenge" [routerLink]="['/instructor/portfolio/']" [queryParams]="queryParams" class="btn btn-primary float-right">View</button>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <!-- service learning -->
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item rounded-0">Service Learning

                            <div class="progress ">
                                <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{width: progress.serviceLearning + '%'}"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">{{ progress.serviceLearning + '%' }}</div>
                            </div>
                            <div class="row mx-auto mt-2 ">
                                <div class="col mt-1">
                                    <button [disabled]="!progress.serviceLearning" [routerLink]="['/instructor/portfolio/course-work/serviceLearning']" [queryParams]="queryParams" class="btn btn-primary float-right">View</button>
                                </div>
                            </div>
                        </li>
                    </ul>






                    <!--Container ends here-->
                </div>

            </div>

        </div>








    </div>


</div>
