<div class="container-fluid d-block">
  <div class="row mt-3">
    <div class="col">
      <h2>Share</h2>
    </div>
    <div class="col">
      <button class="btn btn-primary float-right" type="button">Download</button>
    </div>
  </div>
</div>
<div class="container-fluid ml-3 mr-3 mt-2 join-box">
  <h1 class="text-center">Join your Battalion!</h1>
  <div class="text-center battalion-code-box">
    <h5 class="text-center text-dark">Batalion Code:</h5>
    <h2 class="text-center text-dark">HC82A</h2>
  </div>
  <img id="barcode" src="../../../assets/img/frame (1).png">

  <hr>

  <div class="container-fluid" style="max-width: 400px;">
    <h3 class="text-center">Steps:</h3>
    <div class="row mt-2">
      <div class="col-3"><p class="step">1</p></div>
      <div class="col-9 step-text">Scan the Qr-code above or visit <a href="https://www.mybookfolio.com/auth/register" target="_blank">MyBookfolio.com</a> </div>
    </div>
    <div class="row mt-2">
      <div class="col-3"><p class="step">2</p></div>
      <div class="col-9 step-text">Click on <b>Cadet Registration</b>.</div>
    </div>
    <div class="row mt-2">
      <div class="col-3"><p class="step">3</p></div>
      <div class="col-9 step-text">Enter the code given above in the <b>Battalion Field</b>.</div>
    </div>
    <div class="row mt-2">
      <div class="col-3"><p class="step">4</p></div>
      <div class="col-9 step-text">Register!</div>
    </div>

  </div>
</div>
