<div class="container-fluid" style="padding: 30px">
  <div class="row">
    <div class="col">
      <!-- card 1 starts -->
      <!-- <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-user"></i> Cadet Staff
          <i class="fa fa-plus-square float-right" aria-hidden="true" style="font-size: 25px;"></i>
        </div>

        <div class="container-fluid">
          <div class="table-responsive">
            <table class="table">
              <thead class="table-light">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Position</th>
                  <th scope="col">Remove</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div> -->
      <!--Container ends here-->

      <!-- card 2 starts -->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-user"></i> Linked Instructors
        </div>

        <div class="container-fluid">
          <!-- content here -->
          <div class="table-responsive">
            <table class="table">
              <thead class="table-light">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Position</th>
                  <th scope="col">Approved</th>
                  <th scope="col">Remove</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of linkedInstructors; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ data.lastName }}</td>
                  <td>{{ data.firstName }}</td>
                  <td>{{ data.position }}</td>
                  <td *ngIf="!data.approved"><button class="btn btn-warning btn-sm" (click)="approveInstructor(data.uid)">Approve</button></td>
                  <td *ngIf="data.approved"><button class="btn btn-success btn-sm"><i class='fas fa-check'></i></button></td>
                  <td><button class="btn btn-danger btn-sm" disabled>Remove</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!--Container ends here-->

      <!-- card 3 starts -->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-user"></i> Instructor Let Level
        </div>

        <div class="container-fluid">
          <!-- content here -->
          <div class="table-responsive">
            <table class="table">
              <thead class="table-light">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Let 1</th>
                  <th scope="col">Let 2</th>
                  <th scope="col">Let 3</th>
                  <th scope="col">Let 4</th>
                  <th scope="col">Update</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let data of linkedInstructors; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ data.lastName }}</td>
                    <td>{{ data.firstName }}</td>
                    <td><input #v1 name="checkBox1-{{i}}" type="checkbox" [checked]="data.letLevel.includes(1) ? true : false"></td>
                    <td><input #v2 name="checkBox2-{{i}}" type="checkbox" [checked]="data.letLevel.includes(2) ? true : false"></td>
                    <td><input #v3 name="checkBox3-{{i}}" type="checkbox" [checked]="data.letLevel.includes(3) ? true : false"></td>
                    <td><input #v4 name="checkBox4-{{i}}" type="checkbox" [checked]="data.letLevel.includes(4) ? true : false"></td>
                    <td><button class="btn btn-success btn-sm" (click)="formMethod(data.uid, v1, v2, v3, v4)">Update</button></td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!--Container ends here-->
    </div>
  </div>
</div>
