<div class="container-fluid" style="padding: 30px">



    <div class="row">
        <div class="col">
            <!-- card 1 starts -->
            <div class="card mb-3">

                <div class="card-header">
                    <i class="fas fa-user"></i> Assigned Cadet Staff
                    <i class="fa fa-plus-square float-right" aria-hidden="true" style="font-size: 25px;"></i>
                </div>



                <div class="container-fluid">
                    <!-- content here -->
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Lastname</th>
                                    <th scope="col">Firstname</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Position</th>
                                    <th scope="col">Un-assign</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>




                </div>

            </div>
            <!--Container ends here-->


            <!-- card 2 starts -->
            <div class="card mb-3">

                <div class="card-header">
                    <i class="fas fa-user"></i> Army Instructor Sign Up

                </div>



                <div class="container-fluid">
                    <!-- content here -->
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Lastname</th>
                                    <th scope="col">Firstname</th>
                                    <th scope="col">JROTC Position</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">User Level</th>
                                
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>




                </div>

            </div>
            <!--Container ends here-->

            <!-- card 3 starts -->
            <div class="card mb-3">

                <div class="card-header">
                    <i class="fas fa-user"></i> Instructor Let Assign
                </div>



                <div class="container-fluid">
                    <!-- content here -->
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Let 1</th>
                                    <th scope="col">Let 2</th>
                                    <th scope="col">Let 3</th>
                                    <th scope="col">Let 4</th>
                                    <th scope="col">Update</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>




                </div>

            </div>
            <!--Container ends here-->

        </div>

    </div>


</div>