<div style="position:relative;width:100%">
    <nav class="fixed-top navbar navbar-expand-lg navbar-light" id="mainNav" (scroll)="onWindowScroll($event)">
        <div class="container">
            <a href="#page-top" class="js-scroll-trigger navbar-brand"><img src="http://mybookfolio.com/landingPage/img/logoWhite.svg" width="60px" height="60px"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" data-target="#navbarResponsive" data-toggle="collapse"><i class="fas fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="ml-auto navbar-nav">
                    <li class="nav-item"><a href="#services" class="nav-link">Services</a></li>
                    <li class="nav-item"><a href="#demo" class="nav-link">About</a></li>
                    <li class="nav-item"><a href="#pricing" class="nav-link active">Steps</a></li>
                    <li class="nav-item"><a href="#contact" class="nav-link">Contact</a></li>
                    <li class="nav-item"><a routerLink="/login" class=" nav-link">Login</a></li>
                    <li class="nav-item"><a routerLink="/register" class=" nav-link">Register</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section id="home" class="banner-area relative">
        <div class="container">
            <div class="row align-items-center d-flex fullscreen justify-content-start">
                <div class="col-lg-12 banner-content col-md-12">
                    <h1>MyBookfolio</h1>
                    <p class="text-white" style="word-wrap:break-word;max-width:500px">MYBOOKFOLIO is a Battalion Management System that renders all Army JROTC programs with the tools necessary to manage, maintain, and overview their Battalions progress throughout the year.</p><a routerLink="register" class="text-uppercase header-btn primary-btn">Register Free</a></div>
            </div>
        </div>
    </section>
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="text-center col-lg-12">
                    <h2 class="text-uppercase section-heading">Why choose us</h2>
                    <h3 class="text-muted section-subheading">Services</h3></div>
            </div>
            <div class="text-center row">
                <div class="col-md-4"><span class="fa-4x fa-stack"><img src="assets/img/cadetPortfolioIcon.svg" width="100%"></span>
                    <h4 class="service-heading">JPA Portfolio</h4>
                    <h5><span class="badge badge-primary">Included</span></h5>
                    <p class="text-muted">Our platform provides a friendly system that can be used for the JPA inspection, cadets can build their personal portfolio using a phone, tablet or computer.</p>
                </div>
                <div class="col-md-4"><span class="fa-4x fa-stack"><img src="assets/img/resumeMainIcon.svg" width="100%"></span>
                    <h4 class="service-heading" id="resumeLink">Resume Builder</h4>
                    <h5><span class="badge badge-primary">Included</span></h5>
                    <p class="text-muted">A Resume allows Employers and other Programs to see the endless capabilities of a cadet. With three easy steps we provide the tools necessary that allow a cadet to Create, Edit, and share their Resume to Employers and any other service.</p>
                </div>
                <div class="col-md-4"><span class="fa-4x fa-stack"><img src="assets/img/staffToolsIcon.svg" width="100%"></span>
                    <h4 class="service-heading">Staff tools</h4>
                    <h5><span class="badge badge-primary">Included</span></h5>
                    <p class="text-muted">Our platform comes with unique tools that the S-1 through S-6 can use to better accomplish their weekly tasks, and make sure the battalion is reaching the desired goals and deadlines.</p>
                </div>
                <div class="col-12">
                    <div id="hiddenService" style="display: none;">
                        <div class="row">
                            <div class="col-md-4"><span class="fa-4x fa-stack"><img src="assets/img/cadetRegistrationIcon.svg" width="100%"></span>
                                <h4 class="service-heading">Cadet Registration</h4>
                                <h5><span class="badge badge-primary">Included</span></h5>
                                <p class="text-muted">The period in which everything was done in paper is now over, cadets can now register using our digital datasheet and you can easily download a csv file to register them into JUMS.</p>
                            </div>
                            <div class="col-md-4"><span class="fa-4x fa-stack"><img src="assets/img/profileMeIcon.svg" width="100%"></span>
                                <h4 class="service-heading">Profile Me</h4>
                                <h5><span class="badge badge-primary">Free</span></h5>
                                <p class="text-muted">To grasp others with your success within your community, your leadership characteristics, and values as a cadet, you must stand out. To ensure every cadet stands out in such a manner we provided steps to share your profile and resume with others.</p>
                            </div>
                            <div class="col-md-4"><span class="fa-4x fa-stack"><img src="assets/img/jrotcCalendarIcon.svg" width="100%"></span>
                                <h4 class="service-heading">JROTC Calendar</h4>
                                <h5><span class="badge badge-primary">Free</span></h5>
                                <p class="text-muted">It's important that as a unit a battalion stays connected, our JROTC calendar allows instructors or staff to share important events with others both privately and publicly to the battalion.</p>
                            </div>
                            <div class="col-md-4"><span class="fa-4x fa-stack"><img src="assets/img/graduateSubsIcon.svg" width="100%"></span>
                                <h4 class="service-heading">Flexible JPA Portfolio</h4>
                                <h5><span class="badge badge-primary">Included</span></h5>
                                <p class="text-muted">Do you want to add other important forms in your online portfolio? Now instructors can create their own tasks, and accept cadet imports of their choice.</p>
                            </div>
                            <div class="col-md-4 mx-auto"><span class="fa-4x fa-stack"><img src="assets/img/cadetTransferIcon.svg" width="100%"></span>
                                <h4 class="service-heading">Cadet Transfer</h4>
                                <h5><span class="badge badge-primary">Included</span></h5>
                                <p class="text-muted">Did a cadet just transfer into your battalion and has a MYBOOKFOLIO account? No Problem! You can now transfer cadets from one battalion to another.</p>
                            </div>
                            <div class="col-md-4 mx-auto"><span class="fa-4x fa-stack"><img src="assets/img/analytics.svg" width="100%"></span>
                                <h4 class="service-heading">Analytics</h4>
                                <h5><span class="badge badge-primary">Included</span></h5>
                                <p class="text-muted">Tracking the progress of cadets is important. Our tools allow both cadets and instructors to see critical analysis of Cadet Challenge and Battalion Reports.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mx-auto mt-5">
                    <div class="col-12">
                        <button class="btn btn-primary" id="toggleButton" style="padding: 5px 30px;">More</button>
                        <button class="btn btn-primary" id="hidetoggle" style="padding: 5px 30px; display: none;">Less</button>
                    </div>
                </div>
            </div>
        </div>
        <section id="demo" class="call-action-area section-gap">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-9">
                        <h1 class="text-white" style="margin-top:-30px!important">What is MYBOOKFOLIO?</h1>
                        <p class="text-white mt-5">MyBookfolio is a Battalion Management System that renders all Army JROTC programs with the tools necessary to manage, maintain, and overview their Battalions progress throughout the year with accordance to the JROTC program of accreditation. Our powerful platform will help you achieve your overall battalion goal and will also provide you with the confidence you need in knowing that you are partnered with the most reliable and secure Battalion Management System. Our platform includes a cadet, staff, and instructor profile each made to accommodate the needs of your battalion.</p>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <section id="features" class="features">
        <div class="container">
            <div class="text-center section-heading-comp" style="margin-bottom:20px">
                <h3 class="comp-head" style="color:rgba(0,0,0,.66)">The MyBookfolio Difference</h3>
                <div style="width:50px;height:8px;margin:25px auto;background-color:#2089f1;border-radius:50px"></div>
            </div>
            <div class="row">
                <div class="mx-auto col-md-6 col-sm-12 col-lg-6 mt-5">
                    <h2 class="text-center">Simple &amp; Free</h2>
                    <p class="text-center text-muted">Limited Time Offer</p><img src="assets/img/undraw_messages1_9ah2.svg" width="40%" alt="smartphone" style="display:block;margin:auto;margin:50px auto 70px">
                    <h4 class="text-center">MyBookfolio</h4>
                    <p class="text-center text-muted mt-3" style="font-size:18px">Create accounts for Free</p>
                    <p class="text-center text-muted mt-1" style="font-size:18px">Keep track of your portfolio</p>
                    <p class="text-center text-muted mt-1" style="font-size:18px">Access Anywhere</p>
                    <p class="text-center text-muted mt-1" style="font-size:18px">Stay Organized</p>
                    <p class="text-center text-muted mt-1" style="font-size:18px">Unlimited Benefits</p>
                </div>
                <div class="mx-auto col-md-6 col-sm-12 col-lg-6 mt-5 box-right">
                    <h2 class="text-center">Standard Portfolio</h2>
                    <p class="text-center text-muted">Expensive &amp; time consuming</p><img src="assets/img/undraw_resume_folder_2_arse.svg" width="45%" alt="smartphone" style="display:block;margin:auto;margin:50px auto 70px">
                    <h4 class="text-center">Traditional Binder</h4>
                    <p class="text-center text-muted mt-3" style="font-size:18px">Time Consuming</p>
                    <p class="text-center text-muted mt-1" style="font-size:18px">Can be damaged or lost</p>
                    <p class="text-center text-muted mt-1" style="font-size:18px">Limited content can be added</p>
                    <p class="text-center text-muted mt-1" style="font-size:18px">Material Can't be shared</p>
                    <p class="text-center text-muted mt-1" style="font-size:18px">Costly</p>
                </div>
                <div class="col-12"><a routerLink="register" class="btn btn-primary" role="button" style="display:block;margin:70px auto;border-radius:50px;width:150px;margin-bottom:-20px">Register</a></div>
            </div>
        </div>
    </section>
    <section id="pricing" class="pricing">
        <div class="container">
            <div class="row height-auto">
                <div class="text-center col-lg-7 mx-auto">
                    <h2 class="text-uppercase section-heading mainTitle">How to Get Started</h2>
                    <p class="section-subheading subTitle">Instructors</p>
                </div>
            </div>
            <div class="splitter"></div>
            <div class="row mx-auto">
                <div class="mx-auto col-md-6 col-sm-12 col-lg-3">
                    <div class="card p-3 processStep text-right">
                        <div class="row">
                            <div class="col-12"><i class="fas IconCard fa-user-plus" style="color:#3898f8"></i></div>
                            <div class="col-12">
                                <h2 style="text-align:center">Step 1</h2></div>
                            <div class="col-12">
                                <h5 style="text-align:center;margin-top:20px;font-weight:400">Register Your Battalion</h5></div>
                        </div>
                    </div>
                </div>
                <div class="mx-auto col-md-6 col-sm-12 col-lg-3">
                    <div class="card p-3 processStep text-right">
                        <div class="row">
                            <div class="col-12"><i class="fas IconCard fa-plus-circle" style="margin:50px 65px;color:#3898f8"></i></div>
                            <div class="col-12">
                                <h2 style="text-align:center">Step 2</h2></div>
                            <div class="col-12">
                                <h5 style="text-align:center;margin-top:20px;font-weight:400">Create your battalion code</h5></div>
                        </div>
                    </div>
                </div>
                <div class="mx-auto col-md-6 col-sm-12 col-lg-3">
                    <div class="card p-3 processStep text-right">
                        <div class="row">
                            <div class="col-12"><i class="fas IconCard fa-users" style="margin:50px 53px;color:#3898f8"></i></div>
                            <div class="col-12">
                                <h2 style="text-align:center">Step 3</h2></div>
                            <div class="col-12">
                                <h5 style="text-align:center;margin-top:20px;font-weight:400">Share your code and accept cadets into your battalion</h5></div>
                        </div>
                    </div>
                </div>
                <div class="mx-auto col-md-6 col-sm-12 col-lg-3">
                    <div class="card p-3 processStep text-right">
                        <div class="row">
                            <div class="col-12"><i class="fas IconCard fa-chart-bar" style="margin:50px 65px;color:#3898f8"></i></div>
                            <div class="col-12">
                                <h2 style="text-align:center">Step 4</h2></div>
                            <div class="col-12">
                                <h5 style="text-align:center;margin-top:20px;font-weight:400">Enjoy keeping track of your battalion</h5></div>
                        </div>
                    </div>
                </div><a routerLink="register" class="text-uppercase header-btn primary-btn startButton">Let's get Started</a></div>
        </div>
    </section>
    <section id="team" style="background-color:#fff">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-lg-6">
                    <div style="margin-left:-50px">
                        <div class="outBoxOutline mt-3">
                            <div class="boxCardContainer">
                                <div class="boxCard" id="boxOne"></div>
                                <div class="boxCard" id="boxTwo"></div>
                                <div class="boxCard" id="boxThree">
                                    <p class="cardTitle">Syllabus</p><img src="assets/img/folder.svg" width="120px;" alt="jrotc portfolio" class="cardImg">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-animated progress-bar-striped" style="width:70%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="10" role="progressbar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-lg-6" style="height:auto">
                    <h3 class="text-center customCardTitle">Allow Cadets to insert file's<br>of your choice</h3>
                    <p class="text-center text-muted customCardSubTitle mt-4">Our team believes in a flexible online portfolio, as a result, we are allowing instructors to create their own tasks, we understand that some battalions want to add other documents to their online battalion portfolio, and we are excited to allow instructors to have such ability. With our flexible Custom Cards instructors can choose what they name the card and have the ability to upload what they choose. Custom Cards can be used to add a syllabus for each cadet, a contract or other important forms.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="text-center col-lg-12">
                    <h2 class="text-uppercase section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-light">Our Team Is Waiting</h3></div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" data-validation-required-message="Please enter your name." id="name" name="name" placeholder="Your Name *" required="">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" data-validation-required-message="Please enter your email address." id="email" name="email" placeholder="Your Email *" required="" type="email">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" data-validation-required-message="Please enter your phone number." id="phone" name="phone" placeholder="Your Phone *" required="" type="tel">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" data-validation-required-message="Please enter a message." id="message" name="message" placeholder="Your Message *" required=""></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="text-center col-lg-12">
                                <div id="success"></div>
                                <button class="text-uppercase header-btn primary-btn" id="sendMessageButton" name="sendMessage" type="submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4"><span class="copyright">Copyright © MyBookfolio 2019</span></div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item"><a href="#mainNavs" style="background-color:#527dff"><i class="fa fa-arrow-up" style="color:#fff"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li class="list-inline-item"><a href="landingPage/termsandconditions.php"  class="js-scroll-trigger" style="color:#000">Terms of Use</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>
