.block-one, .filter-button{
  display: inline-block;
}

.block-one{
  margin-right: 10px;
}


/* .filter-button{
    float: right;
}

@media screen and (max-width: 990px) {
    .filter-button{
        float: left;
    }
} */
