<div class="container-fluid mt-5">
  <div class="container-fluid">
    <h3 class="text-center">Cadet Data Sheet</h3>
    <form [formGroup]="cadetInformationForm" (ngSubmit)="onSubmit()" class="mt-5 form-sample">
      <div class="row">

        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Middle Initial</label>
            <div class="col-sm-9">
              <input type="text" formControlName="middleInitial" name="middleInitial"
                class="form-control" />
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Gender</label>
            <div class="col-sm-9">
              <select class="form-control" formControlName="gender" name="gender">
                <option disabled="disabled" value="">Gender</option>

                <option>Male</option>
                <option>Female</option>
              </select>
            </div>
          </div>

              <!-- <div *ngIf="gender.touched"class="alert alert-danger">

                <div *ngIf="gender.errors.required">
                  Gender is required.
                </div>
              </div> -->
          </div>

      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Birth Month</label>
            <div class="col-sm-9">
              <select class="form-control" formControlName="birthMonth" name="birthMonth" required>
                <option disabled="disabled" value="">Birth Month</option>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option Value="11">November</option>
                <option value="12">December</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Birth Year</label>
            <div class="col-sm-9">
              <select class="form-control" formControlName="birthYear" name="birthYear" required>
                <option disabled="disabled" value="">Birth Year</option>
                <option [value]="currentYear - 1">{{ currentYear - 1 }}</option>
                <option [value]="currentYear - 2">{{ currentYear - 2 }}</option>
                <option [value]="currentYear - 3">{{ currentYear - 3 }}</option>
                <option [value]="currentYear - 4">{{ currentYear - 4 }}</option>
                <option [value]="currentYear - 5">{{ currentYear - 5 }}</option>
                <option [value]="currentYear - 6">{{ currentYear - 6 }}</option>
                <option [value]="currentYear - 7">{{ currentYear - 7 }}</option>
                <option [value]="currentYear - 8">{{ currentYear - 8 }}</option>
                <option [value]="currentYear - 9">{{ currentYear - 9 }}</option>
                <option [value]="currentYear - 10">{{ currentYear - 10 }}</option>
                <option [value]="currentYear - 11">{{ currentYear - 11 }}</option>
                <option [value]="currentYear - 12">{{ currentYear - 12 }}</option>
                <option [value]="currentYear - 13">{{ currentYear - 13 }}</option>
                <option [value]="currentYear - 14">{{ currentYear - 14 }}</option>
                <option [value]="currentYear - 15">{{ currentYear - 15 }}</option>
                <option [value]="currentYear - 16">{{ currentYear - 16 }}</option>
                <option [value]="currentYear - 17">{{ currentYear - 17 }}</option>
                <option [value]="currentYear - 18">{{ currentYear - 18 }}</option>
                <option [value]="currentYear - 19">{{ currentYear - 19 }}</option>
                <option [value]="currentYear - 20">{{ currentYear - 20 }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6" formGroupName="enrollmentDate">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Enrollment Date</label>
            <div class="col-sm-9">

              <div class="row">
                <div class="col">
                  <select class="form-control" formControlName="day" name="day">
                    <option disabled="disabled" value="">Day</option>
                    <option>01</option>
                    <option>02</option>
                    <option>03</option>
                    <option>04</option>
                    <option>05</option>
                    <option>06</option>
                    <option>07</option>
                    <option>08</option>
                    <option>09</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                    <option>27</option>
                    <option>28</option>
                    <option>29</option>
                    <option>30</option>
                    <option>31</option>
                  </select>
                </div>
                <div class="col">
                  <select class="form-control" formControlName="month" name="month" required>
                    <option disabled="disabled" value="">Month</option>
                    <option value="Jan">January</option>
                    <option value="Feb">February</option>
                    <option value="Mar">March</option>
                    <option value="Apr">April</option>
                    <option value="May">May</option>
                    <option value="Jun">June</option>
                    <option value="Jul">July</option>
                    <option value="Aug">August</option>
                    <option value="Sep">September</option>
                    <option value="Oct">October</option>
                    <option value="Nov">November</option>
                    <option value="Dec">December</option>
                  </select>
                </div>
                <div class="col">
                  <select class="form-control" formControlName="year" name="year" required>
                    <option disabled="disabled" value="">Year</option>
                    <option [value]="currentYear">{{ currentYear }}</option>
                    <option [value]="currentYear - 1">{{ currentYear - 1 }}</option>
                    <option [value]="currentYear - 2">{{ currentYear - 2 }}</option>
                    <option [value]="currentYear - 3">{{ currentYear - 3 }}</option>
                  </select>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Grade</label>
            <div class="col-sm-9">
              <select class="form-control" formControlName="grade" name="grade" required>
                <option disabled="disabled" value="">Grade</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Race</label>
            <div class="col-sm-9">
              <select class="form-control" formControlName="race" name="race" required>
                <option disabled="disabled" value="">Race</option>
                <option>Other</option>
                <option>Native American</option>
                <option>Hispanic (other than black)</option>
                <option>Caucasian</option>
                <option>Asian + Pacific Islander</option>
                <option>African American</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Student Type</label>
            <div class="col-sm-9">
              <select class="form-control" formControlName="studentType" name="studentType" required>
                <option disabled="disabled" value="">Student Type</option>
                <option>Cadet</option>
                <option>Participating Student</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Attending Different School</label>
            <div class="col-sm-9">
              <select class="form-control" formControlName="differSchool" name="differSchool"
                required>

                <option disabled="disabled" value="">Attending Different School</option>

                <option value="Y">Yes</option>
                <option value="N">No</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">School Name (If attending other school)</label>
            <div class="col-sm-9">
              <input type="text" formControlName="differSchoolName" name="SchoolName"
                class="form-control"
                placeholder='Required When "Attending Different School" is marked Yes' />
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Expected Graduation Year</label>
            <div class="col-sm-9">
              <select class="form-control" formControlName="graduationYear" name="graduationYear"
                required>
                <option disabled="disabled" value="">Expected Graduation Year</option>
                <option [value]="currentYear + 1">{{ currentYear + 1 }}</option>
                <option [value]="currentYear + 2">{{ currentYear + 2 }}</option>
                <option [value]="currentYear + 3">{{ currentYear + 3 }}</option>
                <option [value]="currentYear + 4">{{ currentYear + 4 }}</option>
                <option [value]="currentYear + 5">{{ currentYear + 5 }}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Expected Graduation Month</label>
            <div class="col-sm-9">
              <select class="form-control" formControlName="graduationMonth" name="graduationMonth"
                required>

                <option disabled="disabled" value="">Month</option>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Student ID</label>
            <div class="col-sm-9">
              <input type="text" formControlName="studentId" name="studentId" class="form-control"
                placeholder="Optional / Higly Suggested" />
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col">
          <button type="submit" name="DataSubmit" class="btn btn-primary btn-block mt-5">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
