<div class="container-fluid">
  <div class="d-inline-block" style="width: auto;">
      <h3>Cadets</h3>
  </div>
  <div class="d-inline-block right-box-container" style="width: auto;">
      <div class="container">
          <div class="row justify-content-end">

              <select class="form-control cadet-type-select" (change)="onChangeSearch($event)">
                <option value="My Cadets">My Cadets</option>
                <option value="All Cadets">All Cadets</option>
              </select>

              <form [formGroup]="filterForm" (ngSubmit)="onFilter()" class="inline-form">
                <label for="let">Let</label>
                <select name="let" id="let" formControlName="letLevel" class="form-control">
                  <option value="all">All</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
                <label for="period">Period</label>
                <select name="period" id="period" formControlName="period" class="form-control">
                  <option value="all">All</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                </select>
                <button type="submit" class="btn btn-success">Filter</button>
              </form>

          </div>
      </div>
  </div>
</div>


<div class="container-fluid" style="padding: 0px 30px;">

  <div class="table-contain mt-3">
    <div class="table-responsive">
      <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>#</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Let</th>
            <th>Period</th>
            <th>View</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>#</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Let</th>
            <th>Period</th>
            <th>View</th>
            <th>Delete</th>
          </tr>
        </tfoot>
        <tbody *ngIf="filterRoster.length > 0">
          <tr *ngFor="let cadet of filterRoster; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ cadet.lastName }}</td>
            <td>{{ cadet.firstName }}</td>
            <td>{{ cadet.letLevel }}</td>
            <td>{{ cadet.period }}</td>
            <td><button (click)="setSearchData(cadet.uid, cadet.firstName, cadet.lastName, cadet.letLevel)"
                class="btn btn-primary">View</button></td>
            <td><button (click)="deleteCadet(cadet.uid, cadet.firstName, cadet.lastName)" class="btn btn-danger">Delete</button></td>
          </tr>

        </tbody>
        <tbody *ngIf="filterRoster.length === 0">
          <td colspan="7">
            <p class="text-center"><b>You currently don't have any cadets</b></p>
          </td>
        </tbody>
      </table>
    </div>
  </div>


</div>
