.inline-form {
  display: inline-block;
}

.inline-form label, .inline-form select {
  display: inline;
}

.inline-form label {
 width: 100px;
 margin: 0px 3px;
}

.inline-form select {
  width: 45px;
}

.inline-form button {
  margin: 0px 3px;
}

@media screen and (max-width: 768px) {
  .inline-form {
    display: block;
  }

  .inline-form label, .inline-form select {
    display: block;
  }

  .inline-form label {
   display: block;
   width: 100%;
   margin: 0px 5px;
  }

  .inline-form select {
    display: block;
    width: 100%;
  }

  .inline-form button {
    display: block;
    width: 100%;
    margin: 5px 0px;
  }
}
