<div id="wrapper">
  <!-- Sidebar -->

  <ul class="sidebar navbar-nav " [ngClass]="{ toggled: toggledBar == true }">
    <li class="nav-item active" routerLinkActive="active">
      <a class="nav-link" routerLink="/cadet/">
        <i class="fas fa-fw fa-tachometer-alt mr-2"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <li class="nav-item active" routerLinkActive="active">
      <a class="nav-link" routerLink="/cadet/cadet-data-sheet">
        <i class="fas fa-address-card mr-2"></i>
        <span>Cadet Data Sheet</span>
      </a>
    </li>

    <li class="nav-item active" routerLinkActive="active">
      <a class="nav-link" routerLink="reminders">
        <i class="fas fa-bell fa-fw mr-2"></i>
        <span>Reminders</span>
      </a>
    </li>

    <!-- <li class="nav-item" id="resumeTab">
      <a class="nav-link" routerLink="resume">
        <i class="fas fa-fw fa fa-file mr-2"></i>
        <span>Resume</span></a
      >
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="calendar" id="calendarTab">
        <i class="fa fa-fw fa-calendar-alt mr-2"></i>
        <span>Calendar</span></a
      >
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="request" id="requestTab">
        <i class="fas fa-plus-circle mr-2"></i>
        <span>Request</span></a
      >
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="analytics" id="analyticsTab">
        <i class="fas fa-chart-line mr-2"></i>
        <span>Analytics</span></a
      >
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="cadet-challenge" id="analyticsTab">
        <i class="fas fa-chart-line mr-2"></i>
        <span>Cadet Challenge</span></a
      >
    </li> -->
  </ul>

  <!-- content wrapper -->
  <div id="content-wrapper" style="display: inline-block;">
    <ng-content></ng-content>
  </div>

</div>
