<form [formGroup]="winningColorsForm" (ngSubmit)="onSubmit()">
    <div class="wrapper" style="height: auto; padding: 10px; overflow: hidden; white-space: normal;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <p><b>Directions:</b> In this exercise, you will determine which of your Winning Colors® are the strongest at the present time: planner, builder, relater, or adventurer. For each field in the columns A-D, select a number from 1-4 that best describes you.</p>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3 border border-light p-0" formGroupName="secA">
              <div class="bg-primary header-container center">
                <p class="header titleStyle">A</p>
              </div>
              <div class="fill-container p-3 center">

                  <div class="d-block">
                    <p class="c-height"><b>Being Prepared</b></p>
                  </div>
                  <div class="d-block">
                    <select id="A1" name="one" class="form-control" formControlName="one">

                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option value="4">
                        4
                      </option>
                    </select>
                  </div>

              </div>
              <div class=" fill-container p-3 center">

                  <div class="d-block">
                    <p class="c-height"><b>Telling people what they should do</b></p>
                  </div>
                  <div class="d-block">
                    <select id="A2" name="two" class="form-control" formControlName="two">

                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option value="4">
                        4
                      </option>
                    </select>
                  </div>

              </div>
              <div class=" fill-container p-3 center">

                  <div class="d-block">
                    <p class="c-height"><b>Saving and budgeting</b></p>
                  </div>
                  <div class="d-block">
                    <select id="A3" name="three" class="form-control" formControlName="three">

                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option value="4">
                        4
                      </option>
                    </select>
                  </div>

              </div>
              <div class=" fill-container p-3 center">

                  <div class="d-block">
                    <p class="c-height"><b>Leading</b></p>
                  </div>
                  <div class="d-block">
                    <select id="A4" name="four" class="form-control" formControlName="four">

                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option value="4">
                        4
                      </option>
                    </select>
                  </div>

              </div>
              <div class=" fill-container p-3 center">

                  <div class="d-block">
                    <p class="c-height"><b>Being Organized</b></p>
                  </div>
                  <div class="d-block">
                    <select id="A5" name="five" class="form-control" formControlName="five">

                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option value="4">
                        4
                      </option>
                    </select>
                  </div>

              </div>
              <div class=" fill-container p-3 center">

                  <div class="d-block">
                    <p><b>Total: <span id="aTotal">{{ winningColorsTotal ? winningColorsTotal.secATotal : 0 }}</span></b></p>
                  </div>

              </div>
            </div>
            <div class="col-lg-3 border border-light p-0" formGroupName="secB">
              <div class="bg-primary header-container center">
                <p class="header titleStyle">B</p>
              </div>
              <div class=" fill-container p-3 center">

                  <div class="d-block">
                    <p class="c-height"><b>Let’s all be friends</b></p>
                  </div>
                  <div class="d-block">
                    <select name="one" class="form-control" formControlName="one">

                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option value="4">
                        4
                      </option>
                    </select>
                  </div>

              </div>
              <div class=" fill-container p-3 center">

                  <div class="d-block">
                    <p class="c-height"><b>Talking and socializing</b></p>
                  </div>
                  <div class="d-block">
                    <select name="two" class="form-control" formControlName="two">

                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option value="4">
                        4
                      </option>
                    </select>
                  </div>

              </div>
              <div class=" fill-container p-3 center">

                  <div class="d-block">
                    <p class="c-height"><b>Giving</b></p>
                  </div>
                  <div class="d-block">
                    <select name="three" class="form-control" formControlName="three">

                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option value="4">
                        4
                      </option>
                    </select>
                  </div>

              </div>
              <div class=" fill-container p-3 center">

                  <div class="d-block">
                    <p class="c-height"><b>Relating</b></p>
                  </div>
                  <div class="d-block">
                    <select name="four" class="form-control" formControlName="four">

                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option value="4">
                        4
                      </option>
                    </select>
                  </div>

              </div>
              <div class=" fill-container p-3 center">

                  <div class="d-block">
                    <p class="c-height"><b>Being loved and accepted</b></p>
                  </div>
                  <div class="d-block">
                    <select name="five" class="form-control" formControlName="five">

                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option value="4">
                        4
                      </option>
                    </select>
                  </div>

              </div>
              <div class=" fill-container p-3 center">

                  <div class="d-block">
                    <p><b>Total: <span id="bTotal">{{ winningColorsTotal ? winningColorsTotal.secBTotal : 0 }}</span></b></p>
                  </div>

              </div>
            </div>
            <div class="col-lg-3 border border-light p-0" formGroupName="secC">
              <div class="bg-primary header-container center">
                <p class="header titleStyle">C</p>
              </div>
              <div class=" fill-container p-3 center">

                  <div class="d-block">
                    <p class="c-height"><b>Developing better and more logical ways</b></p>
                  </div>
                  <div class="d-block">
                    <select name="one" class="form-control" formControlName="one">

                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option value="4">
                        4
                      </option>
                    </select>
                  </div>

              </div>
              <div class=" fill-container p-3 center">

                  <div class="d-block">
                    <p class="c-height"><b>Understanding and analyzing about tomorrow</b></p>
                  </div>
                  <div class="d-block">
                    <select name="two" class="form-control" formControlName="two">

                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option value="4">
                        4
                      </option>
                    </select>
                  </div>

              </div>
              <div class=" fill-container p-3 center">

                  <div class="d-block">
                    <p class="c-height"><b>Creating</b></p>
                  </div>
                  <div class="d-block">
                    <select name="three" class="form-control" formControlName="three">

                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option value="4">
                        4
                      </option>
                    </select>
                  </div>

              </div>
              <div class=" fill-container p-3 center">

                  <div class="d-block">
                    <p class="c-height"><b>Planning</b></p>
                  </div>
                  <div class="d-block">
                    <select name="four" class="form-control" formControlName="four">

                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option value="4">
                        4
                      </option>
                    </select>
                  </div>

              </div>
              <div class=" fill-container p-3 center">

                  <div class="d-block">
                    <p class="c-height"><b>Being correct and competent</b></p>
                  </div>
                  <div class="d-block">
                    <select name="five" class="form-control" formControlName="five">

                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option value="4">
                        4
                      </option>
                    </select>
                  </div>

              </div>
              <div class=" fill-container p-3 center">

                  <div class="d-block">
                    <p><b>Total: <span id="cTotal">{{ winningColorsTotal ? winningColorsTotal.secCTotal : 0 }}</span></b></p>
                  </div>

              </div>
            </div>
            <div class="col-lg-3 border border-light p-0" formGroupName="secD">
              <div class="bg-primary header-container center">
                <p class="header titleStyle">D</p>
              </div>
              <div class=" fill-container p-3 center">

                  <div class="d-block">
                    <p class="c-height"><b>Living today and not worrying about tomorrow</b></p>
                  </div>
                  <div class="d-block">
                    <select name="one" class="form-control" formControlName="one">

                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option value="4">
                        4
                      </option>
                    </select>
                  </div>

              </div>
              <div class=" fill-container p-3 center">

                  <div class="d-block">
                    <p class="c-height"><b>Having fun and excitement with people</b></p>
                  </div>
                  <div class="d-block">
                     <select name="two" class="form-control" formControlName="two">

                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option value="4">
                        4
                      </option>
                    </select>
                  </div>

              </div>
              <div class=" fill-container p-3 center">

                  <div class="d-block">
                    <p class="c-height"><b>Spending</b></p>
                  </div>
                  <div class="d-block">
                     <select name="three" class="form-control" formControlName="three">

                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option value="4">
                        4
                      </option>
                    </select>
                  </div>

              </div>
              <div class=" fill-container p-3 center">

                  <div class="d-block">
                    <p class="c-height"><b>Exploring</b></p>
                  </div>
                  <div class="d-block">
                    <select name="four" class="form-control" formControlName="four">

                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option value="4">
                        4
                      </option>
                    </select>
                  </div>

              </div>
              <div class=" fill-container p-3 center">

                  <div class="d-block">
                    <p class="c-height"><b>Being in spontaneous action</b></p>
                  </div>
                  <div class="d-block">
                     <select name="five" class="form-control" formControlName="five">

                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option value="4">
                        4
                      </option>
                    </select>
                  </div>

              </div>
              <div class=" fill-container p-3 center">

                  <div class="d-block">
                    <p><b>Total: <span id="dTotal">{{ winningColorsTotal ? winningColorsTotal.secDTotal : 0 }}</span></b></p>
                  </div>

              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid" *ngIf="winningColorsTotal">
          <h4 class="text-center">Your winning Color is: </h4>
          <h5 class="text-center text-success" *ngIf="winningColorsTotal.minSectionName.includes('secA')">BUILDER (Bull and Bear) and the COLOR is BROWN</h5>
          <h5 class="text-center text-success" *ngIf="winningColorsTotal.minSectionName.includes('secB')">RELATER (Dolphin) and the COLOR is BLUE</h5>
          <h5 class="text-center text-success" *ngIf="winningColorsTotal.minSectionName.includes('secC')">PLANNER (Fox) and the COLOR is GREEN</h5>
          <h5 class="text-center text-success" *ngIf="winningColorsTotal.minSectionName.includes('secD')">ADVENTURER (Tiger) and the COLOR is RED</h5>
          <p class="text-primary text-center">Learn more about my color</p>
        </div>
        <input class="btn btn-primary btn-block btn-submit mt-2 p-2" name="winningColors" type="submit" value="Submit">
      </div>
    </div>
  </form>
