<form [formGroup]="winningColorsForm" (ngSubmit)="onSubmit()">
    <div class="wrapper" style="height: auto; padding: 10px; overflow: hidden; white-space: normal;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <p><b>Directions:</b> In this exercise you will determine which of your Winning Colors® are the strongest at the present time: planner, builder, relater, or adventurer. The four parts of self and your power to communicate reside in your ability to exhibit different behaviors in situations. Although everyone is comprised of each of the behaviors in diverse extents, the goal of Winning Colors® is to work to develop a balance between the four colors.</p>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3 border border-light p-0" formGroupName="A">
              <div class="bg-primary header-container center">
                <p class="header titleStyle">A</p>
              </div>
              <div class="fill-container p-3 center">

                  <div class="d-block">
                    <p class="c-height"><b>Being Prepared</b></p>
                  </div>
                  <div class="d-block">
                    <select id="A1" name="A1" class="form-control" formControlName="A1">
                      <option value="0">
                        0
                      </option>
                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option value="4">
                        4
                      </option>
                    </select>
                  </div>

              </div>
              <div class=" fill-container p-3 center">

                  <div class="d-block">
                    <p class="c-height"><b>Telling people what they should do</b></p>
                  </div>
                  <div class="d-block">
                    <select id="A2" name="A2" class="form-control" formControlName="A2">
                      <option value="0">
                        0
                      </option>
                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option value="4">
                        4
                      </option>
                    </select>
                  </div>

              </div>
              <div class=" fill-container p-3 center">

                  <div class="d-block">
                    <p class="c-height"><b>Saving and budgeting</b></p>
                  </div>
                  <div class="d-block">
                    <select id="A3" name="A3" class="form-control" formControlName="A3">
                      <option value="0">
                        0
                      </option>
                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option value="4">
                        4
                      </option>
                    </select>
                  </div>

              </div>
              <div class=" fill-container p-3 center">

                  <div class="d-block">
                    <p class="c-height"><b>Leading</b></p>
                  </div>
                  <div class="d-block">
                    <select id="A4" name="A4" class="form-control" formControlName="A4">
                      <option value="0">
                        0
                      </option>
                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option value="4">
                        4
                      </option>
                    </select>
                  </div>

              </div>
              <div class=" fill-container p-3 center">

                  <div class="d-block">
                    <p class="c-height"><b>Being Organized</b></p>
                  </div>
                  <div class="d-block">
                    <select id="A5" name="A5" class="form-control" formControlName="A5">
                      <option value="0">
                        0
                      </option>
                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option value="4">
                        4
                      </option>
                    </select>
                  </div>

              </div>
              <div class=" fill-container p-3 center">

                  <div class="d-block">
                    <p><b>Total: <span id="aTotal">0</span></b></p>
                  </div>

              </div>
            </div>
            <div class="col-lg-3 border border-light p-0" formGroupName="B">
              <div class="bg-primary header-container center">
                <p class="header titleStyle">B</p>
              </div>
              <div class=" fill-container p-3 center">

                  <div class="d-block">
                    <p class="c-height"><b>Let’s all be friends</b></p>
                  </div>
                  <div class="d-block">
                    <select name="B1" class="form-control" formControlName="B1">
                      <option value="0">
                        0
                      </option>
                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option value="4">
                        4
                      </option>
                    </select>
                  </div>

              </div>
              <div class=" fill-container p-3 center">

                  <div class="d-block">
                    <p class="c-height"><b>Talking and socializing</b></p>
                  </div>
                  <div class="d-block">
                    <select name="B2" class="form-control" formControlName="B2">
                      <option value="0">
                        0
                      </option>
                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option value="4">
                        4
                      </option>
                    </select>
                  </div>

              </div>
              <div class=" fill-container p-3 center">

                  <div class="d-block">
                    <p class="c-height"><b>Giving</b></p>
                  </div>
                  <div class="d-block">
                    <select name="B3" class="form-control" formControlName="B2">
                      <option value="0">
                        0
                      </option>
                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option value="4">
                        4
                      </option>
                    </select>
                  </div>

              </div>
              <div class=" fill-container p-3 center">

                  <div class="d-block">
                    <p class="c-height"><b>Relating</b></p>
                  </div>
                  <div class="d-block">
                    <select name="B4" class="form-control" formControlName="B4">
                      <option value="0">
                        0
                      </option>
                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option value="4">
                        4
                      </option>
                    </select>
                  </div>

              </div>
              <div class=" fill-container p-3 center">

                  <div class="d-block">
                    <p class="c-height"><b>Being loved and accepted</b></p>
                  </div>
                  <div class="d-block">
                    <select name="B5" class="form-control" formControlName="B5">
                      <option value="0">
                        0
                      </option>
                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option value="4">
                        4
                      </option>
                    </select>
                  </div>

              </div>
              <div class=" fill-container p-3 center">

                  <div class="d-block">
                    <p><b>Total: <span id="bTotal">0</span></b></p>
                  </div>

              </div>
            </div>
            <div class="col-lg-3 border border-light p-0" formGroupName="C">
              <div class="bg-primary header-container center">
                <p class="header titleStyle">C</p>
              </div>
              <div class=" fill-container p-3 center">

                  <div class="d-block">
                    <p class="c-height"><b>Developing better and more logical ways</b></p>
                  </div>
                  <div class="d-block">
                    <select name="C1" class="form-control" formControlName="C1">
                      <option value="0">
                        0
                      </option>
                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option value="4">
                        4
                      </option>
                    </select>
                  </div>

              </div>
              <div class=" fill-container p-3 center">

                  <div class="d-block">
                    <p class="c-height"><b>Understanding and analyzing about tomorrow</b></p>
                  </div>
                  <div class="d-block">
                    <select name="C2" class="form-control" formControlName="C2">
                      <option value="0">
                        0
                      </option>
                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option value="4">
                        4
                      </option>
                    </select>
                  </div>

              </div>
              <div class=" fill-container p-3 center">

                  <div class="d-block">
                    <p class="c-height"><b>Creating</b></p>
                  </div>
                  <div class="d-block">
                    <select name="C3" class="form-control" formControlName="C3">
                      <option value="0">
                        0
                      </option>
                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option value="4">
                        4
                      </option>
                    </select>
                  </div>

              </div>
              <div class=" fill-container p-3 center">

                  <div class="d-block">
                    <p class="c-height"><b>Planning</b></p>
                  </div>
                  <div class="d-block">
                    <select name="C4" class="form-control" formControlName="C4">
                      <option value="0">
                        0
                      </option>
                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option value="4">
                        4
                      </option>
                    </select>
                  </div>

              </div>
              <div class=" fill-container p-3 center">

                  <div class="d-block">
                    <p class="c-height"><b>Being correct and competent</b></p>
                  </div>
                  <div class="d-block">
                    <select name="C5" class="form-control" formControlName="C5">
                      <option value="0">
                        0
                      </option>
                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option value="4">
                        4
                      </option>
                    </select>
                  </div>

              </div>
              <div class=" fill-container p-3 center">

                  <div class="d-block">
                    <p><b>Total: <span id="cTotal">0</span></b></p>
                  </div>

              </div>
            </div>
            <div class="col-lg-3 border border-light p-0" formGroupName="D">
              <div class="bg-primary header-container center">
                <p class="header titleStyle">D</p>
              </div>
              <div class=" fill-container p-3 center">

                  <div class="d-block">
                    <p class="c-height"><b>Living today and not worrying about tomorrow</b></p>
                  </div>
                  <div class="d-block">
                    <select name="D1" class="form-control" formControlName="D1">
                      <option value="0">
                        0
                      </option>
                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option value="4">
                        4
                      </option>
                    </select>
                  </div>

              </div>
              <div class=" fill-container p-3 center">

                  <div class="d-block">
                    <p class="c-height"><b>Having fun and excitement with people</b></p>
                  </div>
                  <div class="d-block">
                     <select name="D2" class="form-control" formControlName="D2">
                      <option value="0">
                        0
                      </option>
                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option value="4">
                        4
                      </option>
                    </select>
                  </div>

              </div>
              <div class=" fill-container p-3 center">

                  <div class="d-block">
                    <p class="c-height"><b>Spending</b></p>
                  </div>
                  <div class="d-block">
                     <select name="D3" class="form-control" formControlName="D3">
                      <option value="0">
                        0
                      </option>
                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option value="4">
                        4
                      </option>
                    </select>
                  </div>

              </div>
              <div class=" fill-container p-3 center">

                  <div class="d-block">
                    <p class="c-height"><b>Exploring</b></p>
                  </div>
                  <div class="d-block">
                    <select name="D4" class="form-control" formControlName="D4">
                      <option value="0">
                        0
                      </option>
                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option value="4">
                        4
                      </option>
                    </select>
                  </div>

              </div>
              <div class=" fill-container p-3 center">

                  <div class="d-block">
                    <p class="c-height"><b>Being in spontaneous action</b></p>
                  </div>
                  <div class="d-block">
                     <select name="D5" class="form-control" formControlName="D5">
                      <option value="0">
                        0
                      </option>
                      <option value="1">
                        1
                      </option>
                      <option value="2">
                        2
                      </option>
                      <option value="3">
                        3
                      </option>
                      <option value="4">
                        4
                      </option>
                    </select>
                  </div>

              </div>
              <div class=" fill-container p-3 center">

                  <div class="d-block">
                    <p><b>Total: <span id="dTotal">0</span></b></p>
                  </div>

              </div>
            </div>
          </div>
        </div>
        <input class="btn btn-primary btn-block btn-submit mt-2 p-2" name="winningColors" type="submit" value="Submit">
      </div>
    </div>
  </form>
