<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">New Assignment</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="assignmentForm" (ngSubmit)="onSubmit()">
          <label>Assignment Name:</label>
          <input type="text" class="form-control" name="assignmentName" formControlName="assignmentName">
          <div class="mt-2 mb-2">
            <span>Attachment (optional):</span>
            <div class="row bg-light p-3" *ngIf="fileData">
              <div class="col col-10">
                <p style="width: 100%; overflow: hidden;">{{ fileData.target.files[0].name }}</p>
              </div>
              <div class="col col-2">
                <button class="btn btn-danger border d-inline-block" (click)="deleteCurrentUploadFile()">X</button>
              </div>
            </div>
            <div class="custom-file" *ngIf="!fileData">
              <input name="file" type="file" class="custom-file-input" id="customFile"
                (change)="onFileSelect($event)">
              <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
          </div>
          <label>Link (optional):</label>
          <input type="text" class="form-control" name="link" formControlName="link">
          <label class="mt-2 mb-2">Instructions:</label>
          <textarea name="instructions" formControlName="instructions"  class="form-control" placeholder="For this assignment, you will practice shifting genres. To begin, read pages 467-469 in our class textbook. Then, select one paragraph from a campaign speech and revise it into a tweet, a diary entry, and a business memo."></textarea>
          <div class="form-check mt-2">
            <label class="form-check-label">
              <input name="showAssignment" formControlName="showAssignment" type="checkbox" class="form-check-input" value="true" checked>Open Assignment
            </label>
          </div>
          <button type="submit" class="btn btn-primary mt-3 float-right">Submit</button>
        </form>
      </div>


    </div>
  </div>
</div>
