<form class="form-signin" #signupForm="ngForm" (ngSubmit)="onSignup(signupForm)">
  <div class="text-center mb-4">
    <img class="mb-4" src="assets/img/myBookfolio.png" alt="" width="72" height="72" />
    <h1 class="h3 mb-3 font-weight-normal">Cadet Registration</h1>
  </div>

  <div class="form-label-group">
    <input type="email" ngModel #battalionCode="ngModel" name="battalionCode" id="battalionCode" class="form-control"
      placeholder="Battalion Code" required="" autofocus="" minlength="5" maxlength="5" />
    <label for="battalionCode">Battalion Code</label>
  </div>
  <div class="form-label-group">
    <input type="email" ngModel #firstName="ngModel" name="firstName" id="firstName" class="form-control"
      placeholder="First Name" required="" autofocus="" />
    <label for="firstName">First Name</label>
  </div>
  <div class="form-label-group">
    <input type="email" ngModel #lastName="ngModel" name="lastName" id="lastName" class="form-control"
      placeholder="Last Name" required="" autofocus="" />
    <label for="lastName">Last Name</label>
  </div>
  <div class="form-label-group">
    <input type="email" ngModel #email="ngModel" name="email" id="inputEmail" class="form-control"
      placeholder="Email address" required="" autofocus="" />
    <label for="inputEmail">Email address</label>
  </div>
  <div class="form-label-group">
    <select class="form-control" name="letLevel" ngModel #letLevel="ngModel">
      <option value="" selected disabled>Let Level</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>

  </div>
  <div class="form-label-group">
      <select class="form-control" ngModel #classPeriod="ngModel" name="classPeriod">
        <option value="" selected disabled>Period</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
  </div>
  <div class="form-label-group">
    <input type="password" ngModel #password="ngModel" name="password" id="inputPassword" class="form-control"
      placeholder="Password" required="" minlength="6" />
    <label for="inputPassword">Password</label>
  </div>
  <div class="form-label-group">
    <input type="password" ngModel #confirmPassword="ngModel" name="confirmPassword" id="confirmPassword"
      class="form-control" placeholder="Password" required="" minlength="6" />
    <label for="confirmPassword">Confirm Password</label>
  </div>

  <flash-messages></flash-messages>

  <!-- loading spinner  -->
  <app-spinner *ngIf="isLoading"></app-spinner>

  <!-- sign up button -->
  <button class="btn btn-lg btn-primary btn-block" [disabled]="!signupForm.valid" *ngIf="!isLoading">
    Sign Up
  </button>
</form>
