<div id="wrapper">
  <!-- Sidebar -->

  <ul class="sidebar navbar-nav " [ngClass]="{ toggled: toggledBar == true }">
    <li class="nav-item active" routerLinkActive="active">
      <a class="nav-link" routerLink="/instructor">
        <i class="fas fa-fw fa-tachometer-alt mr-2"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <li class="nav-item active" routerLinkActive="active">
      <a class="nav-link" routerLink="cadets">
        <i class="fa fa-user mr-2"></i>
        <span>Cadets</span>
      </a>
    </li>

    <li class="nav-item active" routerLinkActive="active">
      <a class="nav-link" routerLink="analytics">
        <i class="fas fa-chart-line mr-2"></i>
        <span>Analytics</span>
      </a>
    </li>

    <li class="nav-item active" routerLinkActive="active">
      <a class="nav-link" routerLink="cadet-data-request">
        <i class="fas fa fa-users mr-2"></i>
        <span>Cadet Data Request</span>
      </a>
    </li>

    <li class="nav-item active" routerLinkActive="active">
      <a class="nav-link" routerLink="cadet-challenge">
        <i class="fa fa-cloud-upload mr-2"></i>
        <span>Cadet Challenge</span>
      </a>
    </li>
  </ul>

  <!-- content wrapper -->
  <div id="content-wrapper" style="display: inline-block;">
    <ng-content></ng-content>
  </div>

</div>
