<nav class="navbar navbar-expand navbar-dark bg-primary static-top ">
  <a class="navbar-brand mr-1" href="cadets">MyBookFolio</a>

  <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
    <i class="fas fa-bars"></i>
  </button>

  <!-- Navbar -->
  <ul class="navbar-nav ml-auto mr-0 mr-md-3 my-2 my-md-0">
    <li class="nav-item dropdown no-arrow mx-1">
      <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <span class="badge badge-danger" style="display: none;" id="notificationCount">0</span>
        <i class="fas fa-bell fa-fw"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-notificaiton" aria-labelledby="userDropdown">
        <h6 class="dropdown-header drop-header">
          Notification
          <span class="badge badge-pill badge-warning" style="float: right;">View All</span>
        </h6>
        <div class="dropdown-divider"></div>

        <!-- content goes here -->
        <div id="notificationContent"></div>
      </div>
    </li>

    <li class="nav-item dropdown no-arrow mx-1">
      <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-book"></i>
      </a>

      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
        <a class="dropdown-item" href="profileme">ProfileMe</a>
      </div>
    </li>

    <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user-circle fa-fw"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
        <div class="profilePic">
          <div class="circlePic">
            <img class="rounded-circle" src="https://cdn.pixabay.com/photo/2016/11/14/17/39/person-1824144_960_720.png" alt="6179593-profile-pics" width="100%" height="100%" />
          </div>
          <div class="container" style="margin: 0px 0px 0px 50px">
            <span class="profileName">Alvarenga</span><br />
            <span class="profileName">Bryan</span>
          </div>
        </div>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="setting">Settings</a>
        <a class="dropdown-item" href="documentation">Documentation</a>
        <a class="dropdown-item" href="inserts/logout">Logout</a>
      </div>
    </li>
  </ul>
</nav>
