<nav class="navbar navbar-expand navbar-dark bg-primary static-top ">
  <a class="navbar-brand mr-1" routerLink="/cadet">MyBookFolio</a>

  <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#" (click)="toggleBar()">
    <i class="fas fa-bars"></i>
  </button>

  <!-- Navbar -->
  <ul class="navbar-nav ml-auto mr-0 mr-md-3 my-2 my-md-0">
    <li class="nav-item dropdown no-arrow mx-1">
      <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <span class="badge badge-danger" style="display: none;" id="notificationCount">0</span>
        <i class="fas fa-bell fa-fw"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-notificaiton" aria-labelledby="userDropdown">
        <h6 class="dropdown-header drop-header">
          Notification
          <span class="badge badge-pill badge-warning" style="float: right;">View All</span>
        </h6>
        <div class="dropdown-divider"></div>

        <!-- content goes here -->
        <div id="notificationContent"></div>
      </div>
    </li>

    <li class="nav-item dropdown no-arrow mx-1">
      <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-book"></i>
      </a>

      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
        <a class="dropdown-item" >ProfileMe</a>
      </div>
    </li>

    <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user-circle fa-fw"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
        <div class="row">
          <div class="col" style="padding: 0px 0px 0px 30px">
            <img class="rounded-circle mx-auto" src="https://cdn.pixabay.com/photo/2016/11/14/17/39/person-1824144_960_720.png" alt="6179593-profile-pics" width="60px" height="60px"/>
          </div>
          <div class="col" style="padding: 5px 30px 0px 0px;">
                <span class="profileName">Alvarenga</span><br />
                <span class="profileName">Bryan</span>
          </div>
        </div>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" routerLink="settings">Settings</a>
        <a class="dropdown-item" routerLink="documentation">Documentation</a>
        <a class="dropdown-item" (click)="signout()">Logout</a>
      </div>
    </li>
  </ul>
</nav>
