<div class="card cardJpa mt-5">
  <a  routerLink="{{ '/cadet/portfolio/' + card.url }}" style="text-decoration:none">
    <div class="card-body">
      <p class="card-title cardTitleJpa mt-2">{{card.name}}</p>
      <img [src]="card.imageUrl" class="mt-4 mb-3" alt="unknown"
        width="100px" />
      <div class="progress mt-5 mb-3">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow=""
          aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width: card.progress }"></div>
      </div>
    </div>
  </a>
</div>
