<div class="row" style="margin: 30px;">
    <div class="col-12 m-b-5">
      <div class="card">
        <div class="card-body">


       <div class="row mt-5">
          <div class="col d-flex justify-content-center">
            <img src="https://cdn.pixabay.com/photo/2016/11/14/17/39/person-1824144_960_720.png" height="150px" width="150px" style="border-radius: 100px;"/>
            <div id="imgUpload">
              <form method="post" id="file_form" enctype="multipart/form-data">
                <input type="file" name="file" id="file">
                <input id="submitButton" type="submit" name="submitProfileImage">
                <p id="clickFile">Change Image</p>
              </form>
          </div>
          </div>
        </div>

        <form method="post" class="mt-5">
            <p class="card-description font-weight-bold">
              Personal info
            </p>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">First Name</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="firstName" value=""/>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Last Name</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="lastName" value=""/>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Current Let Level</label>
                  <div class="col-sm-9">
                    <select class="form-control" name="let">
                      <option value="1" >Let 1</option>
                      <option value="2">Let 2</option>
                      <option value="3">Let 3</option>
                      <option value="4">Let 4</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Grade</label>
                  <div class="col-sm-9">
                    <select class="form-control" name="grade">
                      <option>9</option>
                      <option>10</option>
                      <option>11</option>
                      <option>12</option>
                    </select>

                </div>
                </div>
              </div>


            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Period</label>
                  <div class="col-sm-9">
                    <select class="form-control" name="period">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                      <option>10</option>
                      <option>11</option>
                      <option>12</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Grade</label>
                  <div class="col-sm-9">
                    <select class="form-control" name="gender">
                      <option>Male</option>
                      <option>Female</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>






            <div class="row">
              <div class="col">
                <input type="submit" class="btn btn-primary float-right" name="update">
              </div>
            </div>
        </form>

        <form method="post">
          <p class="card-description font-weight-bold">Battalion Code</p>
  <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Code</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="newBattalionCode" maxlength="5" value=""/>
                  </div>
                </div>
              </div>
  </div>
  <div class="row">
              <div class="col">
                <input type="submit" value="Update" class="btn btn-primary float-right" name="updateBattalionCode">
              </div>
            </div>
        </form>

        <form method="post">

            <!--Password-->
            <p class="card-description font-weight-bold">
              Password
            </p>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label ">Current Password</label>
                  <div class="col-sm-9">
                    <input type="password" class="form-control" name="oldPw"/>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">New Password</label>
                  <div class="col-sm-9">
                    <input type="password" class="form-control" name="newPw"/>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <input type="submit" class="btn btn-primary float-right" name="pw_update" value="Update">
              </div>
            </div>
        </form>

        </div>
      </div>
    </div>
</div>
