<div class="container-fluid" style="padding: 30px;">

    <div class="row">
        <div class="col-12">
            <img src="https://www.mybookfolio.com/instructor/images/supportIcon.svg" alt="support" width="250" style="margin: 5% auto; display: block;" >
        </div>
        <div class="col-12">
            <h3 class="text-center">Support / Help</h3>
        </div>
        <div class="col-10 mx-auto">
            <p class="text-center mt-3" style="font-size: 18px;">We are here to help. Get in touch with and we'll get back to you as soon as we can. In MyBookfolio we are dedicated to help you get the best out of our platform, that is why we are here to answer any of your questions. Use the chat option below to create a live chat with one of our team members, or reach us by email: info@mybookfolio.com, or phone: 954-228-4471.</p>
        </div>
        
    </div>
    
    <div class="row">
        <div class="col-12 mt-5">
            <h3 class="text-center">FAQ</h3>
        </div>
        <div class="col-10 mx-auto mt-3">
            <div class="accordion" id="faqExample">
                <div class="card">
                    <div class="card-header p-2" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Q: When cadets register they are being asked to provide a Battalion Code?
                            </button>
                          </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqExample">
                        <div class="card-body">
                            <b>Answer:</b> The Battalion Code is a unique 5 digit code that corresponds to a battalion, this code is asked when cadets register to link the cadet with the battalion. Your Battalion Code is: <b>Battalion Code</b> This code can also be found in the upper left side of your dashboard. 
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="headingTwo">
                        <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Q: Is MyBookfolio 100% Free?
                        </button>
                      </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqExample">
                        <div class="card-body">
                            <b>Answer:</b> Currently MyBookfolio is 100% Free and does not charge for any of its services. 
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              Q. How can I add a Cadet staff member?
                            </button>
                          </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqExample">
                        <div class="card-body">
                            <b>Answer:</b> To add a cadet staff member (BC, BXO, S1-S6) the cadet must first register and then the cadet can be assigned a position in the tab <b>Battalion Users</b> under Assign Cadet Staff.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              Q. How can I contact MyBookfolio?
                            </button>
                          </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqExample">
                        <div class="card-body">
                            <b>Answer:</b> You can contact our team using the live chat option, by phone: <b>954-228-4471</b> or by sending us an email to: 
                            <b>info@mybookfolio.com</b>
                         
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    


</div>