<div class="container-fluid">

    <div class="row mt-3 mb-4">
      <div class="col text-center">
        <h3 class="text-center mt-5">Achievements</h3>
      </div>
    </div>
    <div class="row mb-4">

            <!-- file card -->
            <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4 m-5 mx-auto ">

              <div class="card mx-auto " style="width: 18rem; height: auto;">
                <img src="" class="mx-auto mt-5" alt="pdf" width="150px" height="150px" />
                <div class="card-body">
                  <div style="height: 25px; width:250px; overflow-x: hidden;">
                  <h5 class="card-title">File Name</h5>
                  </div>
                  <div class="mt-3" style="height: 100px; width: 100%; overflow:scroll; background-color: rgba(127,   127,   127, 0.09); border-radius: 10px;" >
                  Description
                  </div>
                  <a class="btn btn-primary mt-3 mb-3" target="_blank">View</a>
                  <a class="btn btn-danger mt-3 mb-3" href="#">Delete</a>
                </div>
              </div>

            </div> -->

            <div class="col-10 mx-auto mt-1">
              <div class="card">
                <div class="card-body">
                  <img src="../../../../../assets/img/file.svg" alt="Insert" width="180px" style="margin: auto; display: block; padding: 20px;">
                  <p style="font-size: 20px; text-align:center; text-decoration:none;">No Assignments submitted yet!</p>
                </div>
              </div>
            </div>

    </div>

  </div>
