.breadcrumb-row{
  background-color: rgb(250, 250, 250);
  border-radius: 10px;
}

.breadcrumb-row div{
  height: 50px;
}

.breadcrumb-row div:first-of-type p{
  font-size: 18px;
}

.breadcrumb-row div:nth-child(2) form select {
  margin-top: 5px;
}

.pageView {
  max-width: 205px;
  float: right;
}

@media screen and (max-width: 592px){
  .pageView {
      max-width: 100px;
  }
}
