<div class="container-fluid">
  <!-- Breadcrumbs-->
  <div class="container-fluid">
    <div class="row pr-2 pl-2 pt-1 pb-1 breadcrumb-row">
      <div class="col-8 col-sm-7 col-md-6 col-lg-6">
        <p style="margin-top: 10px" class="align-middle"><a routerLink="./">Portfolio</a> / {{ pageName.subPage }}</p>
      </div>
      <div class="col-4 col-sm-5 col-md-6 col-lg-6">
        <form [formGroup]="portfolioViewSelect" (change)="changePortfolioView()">
          <select name="pageViewName" formControlName="pageViewName" class="form-control pageView">
            <option [disabled]="!cadetProgressData.yearlyGoals ? true : null" value="Four Year Goals" selected>Four Year Goals</option>
            <option [disabled]="!cadetProgressData.winningColors ? true : null" value="Winning Colors">WinningColors</option>
            <option [disabled]="!cadetProgressData.successProfiler ? true : null" value="Success Profiler and Personal Growth Plan">Success Profiler & Personal Growth Plan</option>
            <option [disabled]="!cadetProgressData.learningStyle ? true : null" value="Learning Style Inventory">Learning Style Inventory</option>
            <option [disabled]="!cadetProgressData.personalAd ? true : null" value="Personal Ad">Personal Ad</option>
            <option [disabled]="!cadetProgressData.humanGraphActivity ? true : null" value="Human Graph Activity">Human Graph Activity</option>
            <option [disabled]="!cadetProgressData.resume ? true : null" value="Resume">Resume</option>
            <option [disabled]="!cadetProgressData.financialPlanning ? true : null" value="Financial Planning">Financial Planning</option>
            <option [disabled]="!cadetProgressData.courseWork ? true : null" value="Course Work">Course Work</option>
            <option [disabled]="!cadetProgressData.essay ? true : null" value="Essay">Essay</option>
            <option [disabled]="!cadetProgressData.lessonEvidence ? true : null" value="Lesson Evidence">Let 1-4 Lesson Evidence</option>
            <option [disabled]="!cadetProgressData.writtenSummary ? true : null" value="Written Summary">Written Summary</option>
            <option [disabled]="!cadetProgressData.achievements ? true : null" value="Achievements">Achievements</option>
            <option [disabled]="!cadetProgressData.cadetChallenge ? true : null" value="Cadet Challenge">Cadet Challenge</option>
            <option [disabled]="!cadetProgressData.serviceLearning ? true : null" value="Service Learning">Service Learning</option>
          </select>
        </form>
      </div>
    </div>
  </div>


  <div>
    <div class="container-fluid">
      <div class="row p-2">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
          <h3>{{ cadetData.firstName + ' ' + cadetData.lastName }}</h3>
          <p style="font-size: 13px;" *ngIf="lastUpdated"><b>Updated:</b> {{ lastUpdated.toDate() | date:'yyyy/MM/dd h:mm:ss a' }}</p>
          <p style="font-size: 13px;" *ngIf="!lastUpdated"><b>Updated:</b> No data submitted yet</p>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
          <div class="float-lg-right float-md-right">
            <button
            class="btn btn-sm btn-outline-primary ml-1 active"
            (click)="setLetLevel(1)"
            [disabled]="!cadetViewData.let1 ? true : null"
            [ngClass]="{active: cadetData.letLevel == 1}">Let 1</button>
            <button
            class="btn btn-sm btn-outline-primary btn-active ml-1"
            (click)="setLetLevel(2)"
            [disabled]="!cadetViewData.let2 ? true : null"
            [ngClass]="{active: cadetData.letLevel == 2}">Let 2</button>
            <button
            class="btn btn-sm btn-outline-primary ml-1"
            (click)="setLetLevel(3)"
            [disabled]="!cadetViewData.let3 ? true : null"
            [ngClass]="{active: cadetData.letLevel == 3}">Let 3</button>
            <button
            class="btn btn-sm btn-outline-primary ml-1"
            (click)="setLetLevel(4)"
            [disabled]="!cadetViewData.let4 ? true : null"
            [ngClass]="{active: cadetData.letLevel == 4}">Let 4</button>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid" [ngSwitch]="pageName.pageName">
        <app-four-year-goals *ngSwitchCase="'Four Year Goals'"></app-four-year-goals>
        <app-human-graph *ngSwitchCase="'Human Graph Activity'"></app-human-graph>
        <app-learning-style *ngSwitchCase="'Learning Style Inventory'"></app-learning-style>
        <app-personal-ad *ngSwitchCase="'Personal Ad'"></app-personal-ad>
        <app-course-work *ngSwitchCase="'Course Work'"></app-course-work>
        <app-financial-planning *ngSwitchCase="'Financial Planning'"></app-financial-planning>
        <app-portfolio-cadet-challenge *ngSwitchCase="'Cadet Challenge'"></app-portfolio-cadet-challenge>
        <app-winning-colors *ngSwitchCase="'Winning Colors'"></app-winning-colors>
        <div *ngSwitchDefault>
          <p>Error</p>
        </div>
    </div>
  </div>
  <ng-template #spinner>
    <app-spinner></app-spinner>
  </ng-template>
</div>
