<div class="container-fluid">
  <div class="mt-5" *ngIf="!instructorSignupType">
    <div class="container-fluid">
        <h2 class="text-center">Battalion - Instructor</h2>
        <p class="text-center">If one of your battalion instructors created an account with, you must click on <b>create an account under a battalion</b> to link your account with the <b>battalion code</b> provided to them.</p>
    </div>
    <div class="row">
      <div class="col">
        <div class="mx-auto card-box" (click)="setSignupType('newBattalion')">
          <h5>My battalion is new to MyBookfolio</h5>
          <i class="fas fa-user IconsColor"></i>
        </div>
      </div>
      <div class="col">
        <div class="mx-auto card-box" (click)="setSignupType('instructor')">
            <h5>Create an account under <br> a battalion</h5>
            <i class="fas fa-users IconsColor"></i>
        </div>
      </div>
    </div>
  </div>
  <app-battalion-registration *ngIf="instructorSignupType == 'newBattalion'"></app-battalion-registration>
  <app-battalion-instructor-registration *ngIf="instructorSignupType == 'instructor'"></app-battalion-instructor-registration>
</div>


