<form [formGroup]="learningStyle" (ngSubmit)="onSubmit()">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h4 class="mainTitle pl-3 pt-3">(Step 1) Learning Styles Inventory</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p class="SubTittle p-3">
          <b>Directions:</b> Complete this self-assessment to determine your
          learning styles based on the Dunn and Dunn model. Check the appropriate
          column to indicate whether each numbered statement is true or false.
        </p>
      </div>
    </div>
    <div class="table-responsive" formGroupName="multipleChoiceSection">
      <table class="table">
        <thead class="table-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Environmental</th>
            <th scope="col">True</th>
            <th scope="col">False</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1.</th>
            <td>If the Room is too hot, I can't concentrate.</td>
            <td class="text-center">
              <div class="form-check form-check-inline">
                <input formControlName="enviOne" class="form-check-input"
                  name="enviOne" type="radio" value="1" />
              </div>
            </td>
            <td class="text-center">
              <div class="form-check form-check-inline">
                <input formControlName="enviOne" class="form-check-input"
                  name="enviOne" type="radio" value="0" />
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">2.</th>
            <td>Having some background music helps me concentrate.</td>
            <td class="text-center">
              <div class="form-check form-check-inline">
                <input formControlName="enviTwo" class="form-check-input"
                  name="enviTwo" type="radio" value="1" />
              </div>
            </td>
            <td class="text-center">
              <div class="form-check form-check-inline">
                <input formControlName="enviTwo" class="form-check-input"
                  name="enviTwo" type="radio" value="0" />
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">3.</th>
            <td>
              I prefer to make myself comfortable rather than being at a desk.
            </td>
            <td class="text-center">
              <div class="form-check form-check-inline">
                <input formControlName="enviThree" class="form-check-input"
                  name="enviThree" type="radio" value="1" />
              </div>
            </td>
            <td class="text-center">
              <div class="form-check form-check-inline">
                <input formControlName="enviThree" class="form-check-input"
                  name="enviThree" type="radio" value="0" />
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">4.</th>
            <td>I can ignore most sound when I study.</td>
            <td class="text-center">
              <div class="form-check form-check-inline">
                <input formControlName="enviFour" class="form-check-input"
                  name="enviFour" type="radio" value="1" />
              </div>
            </td>
            <td class="text-center">
              <div class="form-check form-check-inline">
                <input formControlName="enviFour" class="form-check-input"
                  name="enviFour" type="radio" value="0" />
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">5.</th>
            <td>Bright light is distracting.</td>
            <td class="text-center">
              <div class="form-check form-check-inline">
                <input formControlName="enviFive" class="form-check-input"
                  name="enviFive" type="radio" value="1" />
              </div>
            </td>
            <td class="text-center">
              <div class="form-check form-check-inline">
                <input formControlName="enviFive" class="form-check-input"
                  name="enviFive" type="radio" value="0" />
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">6.</th>
            <td>I study best when it's quiet.</td>
            <td class="text-center">
              <div class="form-check form-check-inline">
                <input formControlName="enviSix" class="form-check-input"
                  name="enviSix" type="radio" value="1" />
              </div>
            </td>
            <td class="text-center">
              <div class="form-check form-check-inline">
                <input formControlName="enviSix" class="form-check-input"
                  name="enviSix" type="radio" value="0" />
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">7.</th>
            <td>I don't see how people can see in a dark room.</td>
            <td class="text-center">
              <div class="form-check form-check-inline">
                <input formControlName="enviSeven" class="form-check-input"
                  name="enviSeven" type="radio" value="1" />
              </div>
            </td>
            <td class="text-center">
              <div class="form-check form-check-inline">
                <input formControlName="enviSeven" class="form-check-input"
                  name="enviSeven" type="radio" value="0" />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table">
        <thead class="table-light">
          <tr>
            <th scope="col"></th>
            <th scope="col">Emotional</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tr>
          <th scope="row">1.</th>
          <td>I need a lot of encouragement to complete tasks.</td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="emoOne" class="form-check-input" id="Emotional1" name="emoOne"
                type="radio" value="1" />
            </div>
          </td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="emoOne" class="form-check-input" id="Emotional2" name="emoOne"
                type="radio" value="0" />
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">2.</th>
          <td>I'm pretty self-directed about getting my work done.</td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="emoTwo" class="form-check-input" id="Emotional3" name="emoTwo"
                type="radio" value="1" />
            </div>
          </td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="emoTwo" class="form-check-input" id="Emotional4" name="emoTwo"
                type="radio" value="0" />
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">3.</th>
          <td>The adults in my life help me to accomplish more.</td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="emoThree" class="form-check-input" id="Emotional5" name="emoThree"
                type="radio" value="1" />
            </div>
          </td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="emoThree" class="form-check-input" id="Emotional6" name="emoThree"
                type="radio" value="0" />
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">4.</th>
          <td>I give up too easily unless someone helps me stick it through.</td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="emoFour" class="form-check-input" id="Emotional7" name="emoFour"
                type="radio" value="1" />
            </div>
          </td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="emoFour" class="form-check-input" id="Emotional8" name="emoFour"
                type="radio" value="0" />
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">5.</th>
          <td>I like having clear directions and well-defined steps.</td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="emoFive" class="form-check-input" id="Emotional9" name="emoFive"
                type="radio" value="1" />
            </div>
          </td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="emoFive" class="form-check-input" id="Emotional10" name="emoFive"
                type="radio" value="0" />
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">6.</th>
          <td>I have to be reminded often to do things.</td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="emoSix" class="form-check-input" id="Emotional11" name="emoSix"
                type="radio" value="1" />
            </div>
          </td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="emoSix" class="form-check-input" id="Emotional12" name="emoSix"
                type="radio" value="0" />
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">7.</th>
          <td>
            If i'm interested, I can really stick with it through very challenging
            work.
          </td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="emoSeven" class="form-check-input" id="Emotional13" name="emoSeven"
                type="radio" value="1" />
            </div>
          </td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="emoSeven" class="form-check-input" id="Emotional14" name="emoSeven"
                type="radio" value="0" />
            </div>
          </td>
        </tr>
      </table>
      <table class="table">
        <thead class="table-light">
          <tr>
            <th scope="col"></th>
            <th scope="col">Sociological</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tr>
          <th scope="row">1.</th>
          <td>Having a friend to study with works well for me.</td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="socOne" class="form-check-input" id="Sociological1" name="socOne"
                type="radio" value="1" />
            </div>
          </td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="socOne" class="form-check-input" id="Sociological2" name="socOne"
                type="radio" value="0" />
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">2.</th>
          <td>I like to work with others.</td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="socTwo" class="form-check-input" id="Sociological3" name="socTwo"
                type="radio" value="1" />
            </div>
          </td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="socTwo" class="form-check-input" id="Sociological4" name="socTwo"
                type="radio" value="0" />
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">3.</th>
          <td>
            Getting together with a friend is a good way to get homework done.
          </td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="socThree" class="form-check-input" id="Sociological5" name="socThree"
                type="radio" value="1" />
            </div>
          </td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="socThree" class="form-check-input" id="Sociological6" name="socThree"
                type="radio" value="0" />
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">4.</th>
          <td>Working in a team is frustrating.</td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="socFour" class="form-check-input" id="Sociological7" name="socFour"
                type="radio" value="1" />
            </div>
          </td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="socFour" class="form-check-input" id="Sociological8" name="socFour"
                type="radio" value="0" />
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">5.</th>
          <td>People my age have the most to offer me when I learn.</td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="socFive" class="form-check-input" id="Sociological9" name="socFive"
                type="radio" value="1" />
            </div>
          </td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="socFive" class="form-check-input" id="Sociological10" name="socFive"
                type="radio" value="0" />
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">6.</th>
          <td>
            How many people can be a good workgroup really depends on the kind of
            work I’m doing.
          </td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="socSix" class="form-check-input" id="Sociological11" name="socSix"
                type="radio" value="1" />
            </div>
          </td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="socSix" class="form-check-input" id="Sociological12" name="socSix"
                type="radio" value="0" />
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">7.</th>
          <td>Usually an adult can help me to get through a study challenge.</td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="socSeven" class="form-check-input" id="Sociological13" name="socSeven"
                type="radio" value="1" />
            </div>
          </td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="socSeven" class="form-check-input" id="Sociological14" name="socSeven"
                type="radio" value="0" />
            </div>
          </td>
        </tr>
      </table>
      <table class="table">
        <thead class="table-light">
          <tr>
            <th scope="col"></th>
            <th scope="col">Physical</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tr>
          <th scope="row">1.</th>
          <td>The things I remember best are the things I write down.</td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="phyOne" class="form-check-input" id="Physical1" name="phyOne" type="radio"
                value="1" />
            </div>
          </td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="phyOne" class="form-check-input" id="Physical2" name="phyOne" type="radio"
                value="0" />
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">2.</th>
          <td>I feel more energetic at night.</td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="phyTwo" class="form-check-input" id="Physical3" name="phyTwo"
                type="radio" value="1" />
            </div>
          </td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="phyTwo" class="form-check-input" id="Physical4" name="phyTwo"
                type="radio" value="0" />
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">3.</th>
          <td>
            Seeing a picture, graph or diagram really helps me to understand.
          </td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="phyThree" class="form-check-input" id="Physical5" name="phyThree"
                type="radio" value="1" />
            </div>
          </td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="phyThree" class="form-check-input" id="Physical6" name="phyThree"
                type="radio" value="0" />
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">4.</th>
          <td>I need to take a lot of breaks while I’m study.</td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="phyFour" class="form-check-input" id="Physical7" name="phyFour"
                type="radio" value="1" />
            </div>
          </td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="phyFour" class="form-check-input" id="Physical8" name="phyFour"
                type="radio" value="0" />
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">5.</th>
          <td>I can remember almost everything I hear.</td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="phyFive" class="form-check-input" id="Physical9" name="phyFive"
                type="radio" value="1" />
            </div>
          </td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="phyFive" class="form-check-input" id="Physical10" name="phyFive"
                type="radio" value="0" />
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">6.</th>
          <td>
            Things make more sense to me when I can handle them and see how they
            work.
          </td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="phySix" class="form-check-input" id="Physical11" name="phySix"
                type="radio" value="1" />
            </div>
          </td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="phySix" class="form-check-input" id="Physical12" name="phySix"
                type="radio" value="0" />
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">7.</th>
          <td>I like to eat snacks and drink a lot while I study.</td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="phySeven" class="form-check-input" id="Physical13" name="phySeven"
                type="radio" value="1" />
            </div>
          </td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="phySeven" class="form-check-input" id="Physical14" name="phySeven"
                type="radio" value="0" />
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">8.</th>
          <td>The morning is the best time to get a lot done.</td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="phyEight" class="form-check-input" id="Physical15" name="phyEight"
                type="radio" value="1" />
            </div>
          </td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="phyEight" class="form-check-input" id="Physical16" name="phyEight"
                type="radio" value="0" />
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">9.</th>
          <td>I often get tired in the afternoon.</td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="phyNine" class="form-check-input" id="Physical17" name="phyNine"
                type="radio" value="1" />
            </div>
          </td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="phyNine" class="form-check-input" id="Physical18" name="phyNine"
                type="radio" value="0" />
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">10.</th>
          <td>I need to get up and move around when I study.</td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="phyTen" class="form-check-input" id="Physical119" name="phyTen"
                type="radio" value="1" />
            </div>
          </td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="phyTen" class="form-check-input" id="Physical20" name="phyTen"
                type="radio" value="0" />
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">11.</th>
          <td>It’s hard for me to sit in one place for a long time.</td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="phyEleven" class="form-check-input" id="Physical21" name="phyEleven"
                type="radio" value="1" />
            </div>
          </td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="phyEleven" class="form-check-input" id="Physical22" name="phyEleven"
                type="radio" value="0" />
            </div>
          </td>
        </tr>
      </table>
      <table class="table">
        <thead class="table-light">
          <tr>
            <th scope="col"></th>
            <th scope="col">Psychological</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tr>
          <th scope="row">1.</th>
          <td>I like to think about things first and not jump right in.</td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="psyOne" class="form-check-input" id="Psychological1"
                name="psyOne" type="radio" value="1" />
            </div>
          </td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="psyOne" class="form-check-input" id="Psychological2"
                name="psyOne" type="radio" value="0" />
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">2.</th>
          <td>
            Sometimes people think I put things off, but I still get them done.
          </td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="psyTwo" class="form-check-input" id="Psychological3"
                name="psyTwo" type="radio" value="1" />
            </div>
          </td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="psyTwo" class="form-check-input" id="Psychological4"
                name="psyTwo" type="radio" value="0" />
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">3.</th>
          <td>
            I’d rather teachers didn’t lecture so much, because I’d rather find
            out for myself.
          </td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="psyThree" class="form-check-input" id="Psychological5"
                name="psyThree" type="radio" value="1" />
            </div>
          </td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="psyThree" class="form-check-input" id="Psychological6"
                name="psyThree" type="radio" value="0" />
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">4.</th>
          <td>I like to finish one thing before I start another.</td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="psyFour" class="form-check-input" id="Psychological7"
                name="psyFour" type="radio" value="1" />
            </div>
          </td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="psyFour" class="form-check-input" id="Psychological8"
                name="psyFour" type="radio" value="0" />
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">5.</th>
          <td>
            It drives me crazy when the teacher forgets to write things down.
          </td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="psyFive" class="form-check-input" id="Psychological9"
                name="psyFive" type="radio" value="1" />
            </div>
          </td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="psyFive" class="form-check-input" id="Psychological10"
                name="psyFive" type="radio" value="0" />
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">6.</th>
          <td>I can pay attention to a lot of things at the same time.</td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="psySix" class="form-check-input" id="Psychological11"
                name="psySix" type="radio" value="1" />
            </div>
          </td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="psySix" class="form-check-input" id="Psychological12"
                name="psySix" type="radio" value="0" />
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">7.</th>
          <td>Things make more sense when you take them one step at a time.</td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="psySeven" class="form-check-input" id="Psychological13"
                name="psySeven" type="radio" value="1" />
            </div>
          </td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input formControlName="psySeven" class="form-check-input" id="Psychological14"
                name="psySeven" type="radio" value="0" />
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h4 class="mainTitle">(Step 2) Learning Styles Inventory</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p class="SubTittle">
          <b>Directions (Part 2):</b> Using your answers in Part 1, complete the
          following Dunn and Dunn matrix by indicating your learning styles and
          processing preferences.
        </p>
      </div>
    </div>

    <div class="table-responsive" formGroupName="fillInSection">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Environmental</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center">
            <th class="font-weight-normal" scope="row">
              <b>Sound</b><br />
              How much?<br />
              What kind?<br />
              <div class="form-group mt-1 inputStyle">
                <textarea formControlName="envOne" class="form-control" id="environmentS1" rows="5" name="envOne"></textarea>
              </div>
            </th>
            <th class="font-weight-normal" scope="row">
              <b>Light</b><br />
              Bright or Dim?<br />
              <br />
              <div class="form-group mt-1 inputStyle">
                <textarea formControlName="envTwo" class="form-control" id="environmentS2" rows="5" name="envTwo"></textarea>
              </div>
            </th>
            <th class="font-weight-normal" scope="row">
              <b>Temperature</b><br />
              Cool or Warm?<br />
              <br />
              <div class="form-group mt-1 inputStyle">
                <textarea formControlName="envThree" class="form-control" id="environmentS3" rows="5" name="envThree"></textarea>
              </div>
            </th>
            <th class="font-weight-normal" scope="row">
              <b>Design</b><br />
              Formal or Flexible?<br />
              <br />
              <div class="form-group mt-1 inputStyle">
                <textarea formControlName="envFour" class="form-control" id="environmentS4" rows="5" name="envFour"></textarea>
              </div>
            </th>
          </tr>
        </tbody>
      </table>
      <table class="table">
        <thead>
          <tr>
            <th colspan="2" scope="col">Emotional (High, Medium or Low?)</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            <tr class="text-center">
                <th class="font-weight-normal" scope="row">
                  <br />
                  <b>Motivation</b><br />
                  <br />
                  <div class="form-group mt-1 inputStyle">
                    <textarea formControlName="emoOne" class="form-control" id="emotionalS1" rows="5" name="emoOne"></textarea>
                  </div>
                </th>
                <th class="font-weight-normal" scope="row">
                  <br />
                  <b>Persistence</b><br />
                  <br />
                  <div class="form-group mt-1 inputStyle">
                    <textarea formControlName="emoTwo" class="form-control" id="emotionalS2" rows="5" name="emoTwo"></textarea>
                  </div>
                </th>
                <th class="font-weight-normal" scope="row">
                  <br />
                  <b>Responsibility</b><br />
                  <br />
                  <div class="form-group mt-1 inputStyle">
                    <textarea formControlName="emoThree" class="form-control" id="emotionalS3" rows="5" name="emoThree"></textarea>
                  </div>
                </th>
                <th class="font-weight-normal" scope="row">
                  <b>Structure</b><br />
                  External or Self-directed?<br />
                  <br />
                  <div class="form-group mt-1 inputStyle">
                    <textarea formControlName="emoFour" class="form-control" id="emotsociologicalS1" rows="5" name="emoFour"></textarea>
                  </div>
                </th>
              </tr>
        </tbody>
      </table>
      <table class="table">
        <thead>
          <tr>
            <th colspan="2" scope="col">
              Sociological (Whom do you like to work with? When?)
            </th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            <tr class="text-center">
                <th class="font-weight-normal" scope="row">
                  <br />
                  <b>Self</b><br />
                  <br />
                  <div class="form-group mt-1 inputStyle">
                    <textarea formControlName="socOne" class="form-control" id="sociologicalS1" rows="5" name="socOne"></textarea>
                  </div>
                </th>
                <th class="font-weight-normal" scope="row">
                  <br />
                  <b>Pair</b><br />
                  <br />
                  <div class="form-group mt-1 inputStyle">
                    <textarea formControlName="socTwo" class="form-control" id="sociologicalS2" rows="5" name="socTwo"></textarea>
                  </div>
                </th>
                <th class="font-weight-normal" scope="row">
                  <br />
                  <b>Peers</b><br />
                  <br />
                  <div class="form-group mt-1 inputStyle">
                    <textarea formControlName="socThree" class="form-control" id="sociologicalS3" rows="5" name="socThree"></textarea>
                  </div>
                </th>
                <th class="font-weight-normal" scope="row">
                  <br />
                  <b>Team</b><br />
                  <br />
                  <div class="form-group mt-1 inputStyle">
                    <textarea formControlName="socFour" class="form-control" id="sociologicalS4" rows="5" name="socFour"></textarea>
                  </div>
                </th>
                <th class="font-weight-normal" scope="row">
                  <br />
                  <b>Adult</b><br />
                  <br />
                  <div class="form-group mt-1 inputStyle">
                    <textarea formControlName="socFive" class="form-control" id="sociologicalS5" rows="5" name="socFive"></textarea>
                  </div>
                </th>
                <th class="font-weight-normal" scope="row">
                  <br />
                  <b>Varied</b><br />
                  <br />
                  <div class="form-group mt-1 inputStyle">
                    <textarea formControlName="socSix" class="form-control" id="sociologicalS6" rows="5" name="socSix"></textarea>
                  </div>
                </th>
              </tr>
        </tbody>
      </table>
      <table class="table">
        <thead>
          <tr>
            <th colspan="2" scope="col">Physical</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            <tr class="text-center">
                <th class="font-weight-normal" scope="row">
                  <b>Perceptual</b><br />
                  Auditory?<br />
                  Visual?<br />
                  Body Kinesthetic?<br />
                  <div class="form-group mt-1 inputStyle">
                    <textarea formControlName="phyOne" class="form-control" id="physicalS1" rows="5" name="phyOne"></textarea>
                  </div>
                </th>
                <th class="font-weight-normal" scope="row">
                  <b>Food/Drink</b><br />
                  Frequent<br />
                  snacks desired<br />
                  or not?
                  <div class="form-group mt-1 inputStyle">
                    <textarea formControlName="phyTwo" class="form-control" id="physicalS2" rows="5" name="phyTwo"></textarea>
                  </div>
                </th>
                <th class="font-weight-normal" scope="row">
                  <b>Time</b><br />
                  Morning,<br />
                  Afternoon, or<br />
                  Evening?
                  <div class="form-group mt-1 inputStyle">
                    <textarea formControlName="phyThree" class="form-control" id="physicalS3" rows="5" name="phyThree"></textarea>
                  </div>
                </th>
                <th class="font-weight-normal" scope="row">
                  <b>Mobility</b><br />
                  Move around or<br />
                  sit still?<br />
                  <br />
                  <div class="form-group mt-1 inputStyle">
                    <textarea formControlName="phyFour" class="form-control" id="physicalS4" rows="5" name="phyFour"></textarea>
                  </div>
                </th>
              </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--Container ends here-->
  <input class="btn btn-primary btn-block" name="LearningStyle" type="submit" value="Submit" />
</form>
