<nav class="navbar navbar-expand navbar-dark bg-dark static-top ">
  <a class="navbar-brand mr-1" routerLink="/instructor">{{ instructorData.battalionCode }}</a>

  <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#" (click)="toggleBar()">
    <i class="fas fa-bars"></i>
  </button>

  <!-- Navbar -->
  <ul class="navbar-nav ml-auto mr-0 mr-md-3 my-2 my-md-0">
    <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user-circle fa-fw"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
        <div class="row">
          <div class="col" style="padding: 0px 0px 0px 30px">
            <img class="rounded-circle mx-auto" [src]="instructorData.photoUrl ? instructorData.photoUrl : 'https://cdn.pixabay.com/photo/2016/11/14/17/39/person-1824144_960_720.png' " alt="6179593-profile-pics" width="60px" height="60px"/>
          </div>
          <div class="col" style="padding: 5px 30px 0px 0px;">
                <span class="profileName">{{ instructorData.displayName }}</span><br />
          </div>
        </div>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" routerLink="settings">Settings</a>
        <a class="dropdown-item" routerLink="battalion-users">Battalion Users</a>
        <a class="dropdown-item" routerLink="documentation">Documentation</a>
        <a class="dropdown-item" routerLink="support">Help / Support</a>
        <a class="dropdown-item" (click)="signout()">Logout</a>
      </div>
    </li>
  </ul>
</nav>
