<div class="container-fluid p-2">
	<div class="row">
		<div class="col ml-3">
			<h3>{{ searchedCadet?.firstName }} {{ searchedCadet?.lastName }}</h3>
		</div>
	</div>

	<div class="container-fluid p-3">
		<div class="row pl-3 pr-3">
			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a class="nav-link" (click)="toCadetPortfolio()">Cadet Portfolio</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active">Cadet Information</a>
				</li>
			</ul>
		</div>
		<hr>
		<div class="container-fluid">
      <form [formGroup]="personalInfo" class="mt-5" (ngSubmit)="onSubmitPersonalInfo()">
        <p class="card-description font-weight-bold">
          Personal info
        </p>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">First Name</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="firstName" formControlName="firstName" required="true"/>
              </div>
            </div>
            <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
                class="alert alert-danger">

              <div *ngIf="firstName.errors.required">
                First name is required.
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Last Name</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="lastName" formControlName="lastName" required="true"/>
              </div>
            </div>
            <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
                class="alert alert-danger">

              <div *ngIf="lastName.errors.required">
                Last name is required.
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Let Level</label>
              <div class="col-sm-9">
                <select class="form-control" name="letLevel" formControlName="letLevel">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Period</label>
              <div class="col-sm-9">
                <select class="form-control" name="period" formControlName="period">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                </select>
              </div>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col">
            <input type="submit" class="btn btn-primary float-right" name="update" [disabled]="(lastName.invalid && (lastName.dirty || lastName.touched)) || firstName.invalid && (firstName.dirty || firstName.touched)">
          </div>
        </div>
      </form>
		</div>
	</div>


</div>
