<!-- card view model -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">New Custom Card</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
          <p><b>Directions:</b> Fill in the form below with the details of your assignment.</p><br>
          <form>
            <div class="container-fluid">
              <div class="row">
                <div class="col text-center">
                  <img src="https://www.files.mybookfolio.com/imageCustomCards/plan.svg" height="50" width="50"><br>
                  <input type="radio" name="customIcon" value="https://www.files.mybookfolio.com/imageCustomCards/plan.svg">
                </div>
                <div class="col text-center">
                  <img src="https://www.files.mybookfolio.com/imageCustomCards/diploma.svg" height="50" width="50"><br>
                  <input type="radio" name="customIcon" value="https://www.files.mybookfolio.com/imageCustomCards/diploma.svg">
                </div>
                <div class="col text-center">
                  <img src="https://www.files.mybookfolio.com/imageCustomCards/folder.svg" height="50" width="50"><br>
                  <input type="radio" name="customIcon" value="https://www.files.mybookfolio.com/imageCustomCards/folder.svg">
                </div>
                <div class="col text-center">
                  <img src="https://www.files.mybookfolio.com/imageCustomCards/notepad.svg" height="50" width="50"><br>
                  <input type="radio" name="customIcon" value="https://www.files.mybookfolio.com/imageCustomCards/notepad.svg">
                </div>
                <div class="col text-center">
                  <img src="https://www.files.mybookfolio.com/imageCustomCards/paper.svg" height="50" width="50"><br>
                  <input type="radio" name="customIcon" value="https://www.files.mybookfolio.com/imageCustomCards/paper.svg">
                </div>
                <div class="col text-center">
                  <img src="https://www.files.mybookfolio.com/imageCustomCards/pin.svg" height="50" width="50"><br>
                  <input type="radio" name="customIcon" value="https://www.files.mybookfolio.com/imageCustomCards/pin.svg">
                </div>
              </div>
            </div>
            <label for="card-name">Card Name</label>
            <input class="form-control" id="card-name" type="text" placeholder="Syllabus"><br>
            <label for="card-name">Assignment Name:</label>
            <input class="form-control" id="card-name" type="text" placeholder="Assignment Name"><br>
            <label for="description">Assignment Instructions:</label>
            <textarea class="form-control" placeholder="In this assignment you will describe how...."></textarea><br>
            <input type="checkbox" id="show-assignment" name="show-assignment" value="true">
            <label for="show-assignment" class="ml-1">Show Assignment</label><br>
          </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<!-- custom cards-->
<div class="d-flex  flex-wrap justify-content-center mt-5" *ngFor="let card of portfolioCustomCards">
  <div class="container-fluid" style="text-align: center;">
        <h2 class="mx-auto">{{ card.name }}</h2>
        <!-- <div class="custom-card-button">+</div> -->
        <div class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add Card</div>
  </div>
  <app-custom-card-item *ngFor="let cardItem of card.cards" [card]="cardItem"></app-custom-card-item>
</div>
