<div class="row " style="margin: auto; padding: 50px;">

    <div class="col-12 col-sm-12 col-md-6 col-lg-4  mt-3 ">
      <a routerLink="#">
      <div class="card card-hover">
         <img class="card-img-top"  src="../../../../assets/img/moduleOne-min.png" alt="ModuleOne" width="" height="320px">
      </div>
      </a>
      <div class="row">
        <div class="col-12 text-center">
          <p class="mt-2">NEFE Student Guide Module 1</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 mt-3 ">
      <a routerLink="#">
      <div class="card card-hover">
         <img class="card-img-top"  src="../../../../assets/img/moduleTwo-min.png" alt="ModuleOne" width="" height="320px">
      </div>
      </a>
      <div class="row">
        <div class="col-12 text-center">
          <p class="mt-2">NEFE Student Guide Module 2</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 mt-3 ">
      <a routerLink="#">
      <div class="card card-hover">
         <img class="card-img-top"  src="../../../../assets/img/moduleThree-min.png" alt="ModuleOne" width="" height="320px">
      </div>
      </a>
      <div class="row">
        <div class="col-12 text-center">
          <p class="mt-2">NEFE Student Guide Module 3</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 mt-3 ">
      <a routerLink="#">
      <div class="card card-hover">
         <img class="card-img-top"  src="../../../../assets/img/moduleFour-min.png" alt="ModuleOne" width="" height="320px">
      </div>
      </a>
      <div class="row">
        <div class="col-12 text-center">
          <p class="mt-2">NEFE Student Guide Module 4</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 mt-3 ">
      <a routerLink="#">
      <div class="card card-hover">
         <img class="card-img-top"  src="../../../../assets/img/moduleFive-min.png" alt="ModuleOne" width="" height="320px">
      </div>
      </a>
      <div class="row">
        <div class="col-12 text-center">
          <p class="mt-2">NEFE Student Guide Module 5</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 mt-3 ">
      <a routerLink="#">
      <div class="card card-hover">
         <img class="card-img-top"  src="../../../../assets/img/moduleSix-min.png" alt="ModuleOne" width="" height="320px">
      </div>
      </a>
      <div class="row">
        <div class="col-12 text-center">
          <p class="mt-2">NEFE Student Guide Module 6</p>
        </div>
      </div>
    </div>





  </div>
