<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Remainder Filter</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="container-fluid">

          <!-- Let Level -->
          <div class="row">
            <div class="col">
              <h3>Let Level</h3>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p>Select the let levels you want to send your remainder to:</p>
            </div>
          </div>

          <div class="row let-box-row">
            <div class="col">
              <div class="let-box-click" (click)="toggleLet(1)" [ngStyle]="{border: sendLetLevel.includes(1) ? '2px solid green' : 'none' }">
                <div class="container-fluid">
                  <h1 class="text-center">1</h1>
                  <p class="text-center">Let</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="let-box-click" (click)="toggleLet(2)" [ngStyle]="{border: sendLetLevel.includes(2) ? '2px solid green' : 'none' }">
                <div class="container-fluid">
                  <h1 class="text-center">2</h1>
                  <p class="text-center">Let</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row let-box-row">
            <div class="col">
              <div class="let-box-click" (click)="toggleLet(3)" [ngStyle]="{border: sendLetLevel.includes(3) ? '2px solid green' : 'none' }">
                <div class="container-fluid">
                  <h1 class="text-center">3</h1>
                  <p class="text-center">Let</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="let-box-click" (click)="toggleLet(4)" [ngStyle]="{border: sendLetLevel.includes(4) ? '2px solid green' : 'none' }">
                <div class="container-fluid">
                  <h1 class="text-center">4</h1>
                  <p class="text-center">Let</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="sendRemainder()" data-dismiss="modal">Send</button>
      </div>

    </div>
  </div>
</div>



<!-- Webpage content -->
<div class="container-fluid h-100">
  <div class="row">
    <div class="col">
      <h3 class="ml-3">Reminders</h3>
    </div>
  </div>
  <div class="row justify-content-center h-100">

    <div class="col chat">
      <div class="card">
        <div class="card-body msg_card_body">
          <!-- box starts here-->
          <div class="container-fluid msg_sent" *ngFor="let x of reminders">
            <div class="row">
              <div class="col-11">
                <h3 class="msg_sent_color" *ngIf="x.message">{{ x.message }}</h3>
              </div>
              <div class="col-1">
                <i class="fas fa-times float-right" (click)="deleteReminder(x.id)"></i>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h6 *ngIf="x.webUrl"><a href="https://{{x.webUrl}}" target="_blank">{{ x.webUrl }}</a></h6>
              </div>
            </div>
            <div class="row">
              <div class="col mt-2 mb-2">
                <a target="_blank" [href]="x.imageUrl" class="msg_sent_image_link" *ngIf="x.imageUrl"><img [src]="x.imageUrl" height="250px" width="300px"></a>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <p class="msg_sent_color"><b>To:</b> {{ x.showTo }}</p>
              </div>
              <div class="col-6">
                <p class="float-right msg_sent_color">{{ x.dateSent | date:'medium' }}</p>
              </div>
            </div>
          </div>
          <!-- box ends here -->
        </div>
        <div class="card-footer">
          <div class="container-fluid" *ngIf="imageArray.length > 0">
            <div class="add-image-preview" *ngFor="let imageUrl of imageArray; let i = index">
              <div class="add-image-delete" (click)="removeImage(i)">X</div>
              <img class="img-responsive" [src]="imageUrl.render.result" height="auto" width="auto">
            </div>
          </div>
          <flash-messages></flash-messages>
          <div class="container-fluid mt-2 mb-2" *ngIf="showUrl">
            <div class="row">
              <div class="col">
                <input type="text" name="url" class="form-control" style="width: 100%;" placeholder="Place URL here..." [(ngModel)]="url">
              </div>
            </div>
          </div>
          <div class="input-group">
            <div class="input-group-append">
                <input type="file" name="file" id="file" #file (change)="uploadImage($event)" multiple style="display: none;">
                <span class="input-group-text attach_btn"><i class="far fa-images" (click)="file.click()" *ngIf="imageArray.length === 0"></i><i class="fas fa-link" (click)="toggleShowUrl()" [ngStyle]="{color: showUrl ? 'rgb(0%, 39.5%, 100%)' : 'rgb(161, 161, 161)'}"></i></span>
            </div>
            <textarea name="" class="form-control type_msg" placeholder="Type your message here and use the buttons on the left to add a url or pictures..."
            [(ngModel)]="message"></textarea>
            <div class="input-group-append">
              <span data-toggle="modal" data-target="#myModal" class="input-group-text send_btn"><i class="fas fa-paper-plane"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
