<!-- card view model -->
<div class="modal fade" id="myModal" *ngIf="cadetViewData">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">{{ cadetViewData.attachName }}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <img *ngIf="cadetViewData.fileType === 'image' else documentView" [src]="cadetViewData.downloadUrl"
          style="width:100%;height:500px;">
        <ng-template #documentView>
          <ngx-doc-viewer [url]="cadetViewData.downloadUrl" viewer="google" style="width:100%; height:500px;">
          </ngx-doc-viewer>
        </ng-template>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<app-file-upload></app-file-upload>
<div class="container-fluid">

  <div class="container" *ngIf="cadetData.length > 0">
    <button class="btn btn-primary float-right" data-toggle="modal" data-target="#uploadModal">Upload File</button>
  </div>

  <div class="row mt-3 mb-4">
    <div class="col text-center">
      <h3 class="text-center mt-5">{{ pageName }}</h3>
    </div>
  </div>
  <div class=" mb-4">

    <!-- file card -->
    <div class="m-5 mx-auto d-flex justify-content-center" *ngIf="cadetData?.length > 0 else noData">
      <div class="d-inline-flex card mr-2 ml-2" style="width: 18rem; height: auto;"
        *ngFor="let card of cadetData; let i = index">
        <img [src]="card.fileType === 'image' ? card.downloadUrl : 'https://www.mybookfolio.com/cadets/images/doc.png'"
          class="mx-auto mt-5" alt="pdf" width="150px" height="150px" />
        <div class="card-body">
          <div style="height: 25px; width:250px; overflow-x: hidden;">
            <h5 class="card-title">{{ card.attachName }}</h5>
          </div>
          <div class="mt-3"
            style="height: 100px; width: 100%; overflow:scroll; background-color: rgba(127,   127,   127, 0.09); border-radius: 10px;">
            {{ card.attachDescription }}
          </div>
          <button class="btn btn-primary text-light mt-3 mb-3 mr-1" data-toggle="modal" data-target="#myModal"
            (click)="showModel(i)">View</button>
          <button class="btn btn-danger mt-3 mb-3" (click)="deleteFile(i)">Delete</button>
        </div>
      </div>
    </div>

    <!-- template for when no data exist -->
    <ng-template #noData>
      <div class="col-10 mx-auto mt-1">
        <div class="card">
          <div class="card-body">
            <img src="../../../../../assets/img/file.svg" alt="Insert" width="180px"
              style="margin: auto; display: block; padding: 20px;">
            <p style="font-size: 20px; text-align:center; text-decoration:none;">No Assignments Submitted Yet</p>
            <button class="btn btn-primary mx-auto d-block" data-toggle="modal" data-target="#uploadModal">Upload File</button>
          </div>
        </div>
      </div>
    </ng-template>

    <!-- text editor for written summary and essay  -->
    <div class="mt-5">
      <app-text-editor></app-text-editor>
    </div>
  </div>
</div>
